{% extends '@App/layout.html.twig' %}

{% block title -%}
    {{ 'seo.search_page_title'|trans({ '%query%': searchQuery|default('seo.search_page_title_default'|trans) }) }}
{%- endblock %}

{% block meta_description -%}
    <meta name="description" content="{{ 'seo.search_page_description'|trans }}">
{%- endblock %}

{% block body %}
    <div id="search-page" v-cloak>

        {# This block is used by :
           - AppBundle/Resources/views/attribute/variant-attribute.html.twig
           - AppBundle/Resources/views/company/company.html.twig
        #}
        {% block searchHeader %}{% endblock %}

        {# search results number #}
        <div v-if="pagination.nbResults" v-text="pagination.nbResults"></div>

        {# current category name #}
        {% if currentCategory|default %}
            <h2>{{ currentCategory.name }}</h2>
        {% endif %}

        {# sorts #}
        <button type="button" @click="setSort(null, null)">{{ 'search.sort.relevance'|trans }}</button>
        <button type="button" @click="setSort('name', 'asc')">{{ 'search.sort.alpha_asc'|trans }}</button>
        <button type="button" @click="setSort('name', 'desc')">{{ 'search.sort.alpha_desc'|trans }}</button>
        <button type="button" @click="setSort('price', 'asc')">{{ 'search.sort.price_asc'|trans }}</button>
        <button type="button" @click="setSort('price', 'desc')">{{ 'search.sort.price_desc'|trans }}</button>


        {# results by page #}
        <button type="button" @click="changeResultsNumber(12)">12</button>
        <button type="button" @click="changeResultsNumber(24)">24</button>
        <button type="button" @click="changeResultsNumber(48)">48</button>

        <div class="search-block">

            {# sidebar #}
            <div class="sidebar">
                {% include '@App/search/sidebar/_sidebar.html.twig' %}
            </div>

            {# search result #}
            <div class="search-result">

                {# fetched products #}
                <div class="products">
                    {% include('@App/common/product/_search-card.html.twig') %}
                </div>

                {# pagination #}
                {% include('@App/common/_pagination.html.twig') %}
            </div>
        </div>
    </div>

    {# add product to basket modal #}
    {% include '@App/common/product/_modal_add-to-basket.html.twig' %}

    {# price slider template #}
    <template id="slider-template">
        <div class="range-slider">
            <div class="range-slider-wrapper">
                <div id="facet-slider"></div>
                <div class="range-values">
                    <span v-text="currentMin"></span>
                    <span v-text="currentMax"></span>
                </div>
            </div>
        </div>
    </template>

{% endblock %}

{% block scripts %}
    {% include('@App/search/_script.html.twig') %}
{% endblock %}
