{# 'contact vendor' modal #}
<div class="discussion-modal modal fade" tabindex="-1" role="dialog" id="discussion-modal{% if order_id|default %}-{{ order_id }}{% endif %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">

            {# products is defined in src/AppBundle/Resources/views/profile/after-sales-service.html.twig #}
            {% if orderItems|default %}
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <form action="{{ path('profile_discussion_create') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('discussion_token') }}">
                            <input type="hidden" name="return_url" value="{{ app.request.uri }}">
                            <h3>{{ 'discussion_modal.after_sales_service.title' | trans }}</h3>
                            <ul class="text-left">
                                {% for item in orderItems %}
                                    <li>
                                        <input type="radio" id="{{ 'product_'~item.declinationId }}" name="product_id" value="{{ item.declinationId }}" {% if loop.first %}checked{% endif %}>
                                        <label for="{{ 'product_'~item.declinationId }}">{{ item.productName }}</label>
                                    </li>
                                {% endfor %}
                            </ul>

                            {# required message content #}
                            <h4>{{ 'discussion_modal.after_sales_service.message_label' | trans }}</h4>
                            <textarea name="discussion_message" required></textarea> <br>

                            <button type="submit" class="btn">{{ 'send'|trans }}</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        </form>
                    </div>
                </div>
            {% elseif product|default %}
            {# else this is used in src/AppBundle/Resources/views/product/product.html.twig #}
            <form action="{{ path('profile_discussion_create') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('discussion_token') }}">
                <input type="hidden" name="return_url" value="{{ app.request.uri }}">
                <input type="hidden" name="product_id" value="{{ product.id }}">

                {# discussion title #}
                <h3>{{ 'discussion_title'|trans({'%product_name%': product.name}) }}</h3>

                {# required message content #}
                <textarea name="discussion_message" required></textarea> <br>

                <button type="submit" class="btn">{{ 'send'|trans }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans }}</button>
            </form>

            {% endif %}
        </div>
    </div>
</div>
