{# menus are provided by the Wizaplace front bundle Twig extension #}
{%  set menus = menus() %}

<footer>

    {# newsletter #}
    <form id="js-subscription-form" action="{{ path('newsletter_subscribe') }}" method="POST">
        <label for="email">{{ 'footer.newsletter.label'|trans }}</label>
        <input id="email" type="email" name="email" placeholder="{{ 'footer.newsletter.placeholder'|trans }}" required>
        <button type="submit">{{ 'footer.newsletter.validate'|trans }}</button>
    </form>

    {# menus #}
    <div class="menus">
        {% for menu in menus %}
            <div>
                <div>{{ menu.name }}</div>
                <ul>
                    {% for menuItem in menu.items %}
                        <li><a href="{{ menuItem.url }}">{{ menuItem.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</footer>

<script>
    // submit user's email for newsletter subscription via ajax
    $('#js-subscription-form').on('submit', function(e) {

        {# stop form to be submited as it will be done via ajax #}
        e.preventDefault();

        {# gather needed data #}
        var method = $(this).attr('method');
        var url = $(this).attr('action');
        var $email = $(this).find('[name="email"]');
        var email = $email.val();

        {# send data to server #}
        $.ajax({
            method: method,
            url: url,
            data: {
                email: email,
            }
        }).done(function() {

            {# create a success notification (see notification.js) #}
            notification.createAlert('{{ "newsletter_subscription_success_message"|trans }}', 'success');

        }).fail(function(response) {

            {# create an error notification (see notification.js) #}
            notification.createAlert(response.responseText, 'danger');

        }).always(function() {

            {# input cleanup #}
            $email.val('');
        });
    });
</script>
