<div class="modal fade" tabindex="-1" role="dialog" id="password-reset-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {# header #}
            <div class="modal-header">
                <i class="close-modal fa fa-close" data-dismiss="modal"></i>
                <p class="title">{{ 'get_my_password_back'|trans }}</p>
            </div>

            {# body #}
            <div class="modal-body">
                <form method="post" action="{{ path('reset_password_initiate') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('password_token') }}">

                    <p>{{ 'fill_your_email_address'|trans }}&nbsp;:</p>

                    {# email #}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="{{ 'email_placeholder'|trans }}" required>
                    </div>

                    {# action buttons #}
                    <div class="action-buttons">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary">
                            <span>{{ 'validate'|trans }}</span>
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
