{%  set menus = menus() %}
<footer>
    <div class="container">

        {# newsletter #}
        <form id="newsletter-subscription-form" action="{{ path('newsletter_subscribe') }}" method="POST" class="form-horizontal" >
            <label for="email">{{ 'subscribe_to_newsletter'|trans }}</label>
            <input id="email" type="email" name="email" placeholder="email" required>
            <button type="submit">{{ 'subscribe_me'|trans }}</button>
        </form>

        {# menus #}
        {% for menuBatch in menus|batch(4) %}
            <div class="row">

                {% for menu in menuBatch %}
                    <nav class="col-sm-3">

                        <h4>{{ menu.name }}</h4>

                        <ul class="footer-items">
                            {% for menuItem in menu.items %}
                                <li><a href="{{ menuItem.url }}" class="light-title">{{ menuItem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</footer>

<script>
    $(function() {

        // submit user's email for newsletter subscription
        $('#newsletter-subscription-form').on('submit', function(e) {
            e.preventDefault();
            let method = $(this).attr('method');
            let url = $(this).attr('action');
            let $email = $(this).find('[name="email"]');
            let email = $email.val();

            $.ajax({
                method: method,
                url: url,
                data: {
                    email: email,
                }
            }).done(function() {
                notification.createAlert('{{ "newsletter_subscription_success_message"|trans }}', 'success');
            }).fail(function(response) {
                notification.createAlert(response.responseText, 'danger');
            }).always(function() {
                $email.attr('value', ''); // clean up
            });
        });
    });
</script>
