<div class="price-quantity">
    {% if declination.crossedoutprice %}
        <div class="big-title text-blue" style="display:inline">
            {{ 'crossedoutprice_new'|trans({'%price%': declination.pricewithoutvat|price }) }}
        </div>
        <div class="badge-promo">{{ 'crossedoutprice_promo'|trans|upper }}</div>
        <div class="text-blue">
            {{ 'crossedoutprice_original'|trans({'%price%': declination.crossedoutprice|price }) }}
        </div>
    {% else %}
        <div class="big-title text-blue">
            {{ 'crossedoutprice_new'|trans({'%price%': declination.priceWithoutVat|price }) }}
        </div>
    {% endif %}

    <div>
        {{ 'greentax'|trans({'%tax%': declination.greenTax|price }) }}
    </div>

    {# options selector #}
    <h4>{{ 'options'|trans }} :</h4>

    <ul class="options">
        {% for option in options  %}
            <li class="option-name">{{ option.name }}
                <select title="{{ 'select' }}" data-id="{{ option.id }}" onchange="updateDeclination(this)">
                    {% for variant in option.variants %}
                        <option value="{{ variant.id }}" data-url="{{ variant.url }}" {% if variant.selected %}selected{% endif %}>{{ variant.name }}</option>
                    {% endfor %}
                </select>
            </li>
        {% endfor %}
    </ul>


    {# add to basket #}
    <div class="basket-widget">
        <p class="label">{{ 'quantity'|trans }}</p>
        <div class="quantity-widget">
            <input type="number" aria-label="Text input with multiple buttons" class="form-control" :value="quantity" v-model="quantity" {% if not inStock %}disabled="disabled"{% endif %}>
            <button class="btn btn-default" type="button" @click="decreaseQuantity" {% if not inStock %}disabled="disabled"{% endif %}> - </button>
            <button class="btn btn-default" type="button" @click="increaseQuantity" {% if not inStock %}disabled="disabled"{% endif %}> + </button>
        </div>
        <div class="spacer"></div>

        {% if inStock %}
            <button class="btn btn-primary btn-lg" type="button" @click="submitBasket">{{ 'add_to_basket'|trans }}</button>
        {% else %}
            <button class="btn btn-primary btn-lg" type="button" disabled>{{ 'out_of_stock'|trans }}</button>
        {% endif %}
    </div>
</div>
