{% extends '@App/layout.html.twig' %}

{% block meta %}
    <link rel="canonical" href="{{ path('product', {'slug': product.slug, 'categoryPath': product.categorySlugs|join('/')}) }}" />
{% endblock %}

{% block body %}
    {% set declination = product.declinations.0 %}
    {% set inStock = declination.amount > 0 %}

    {% include '@App/common/breadcrumb.html.twig' with {'categoryPath': product.categoryPath } %}

    <div id="product-page" class="product-page container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row bloc">
                    <div class="col-md-12 ">
                        {% if product.creationDate.timestamp > date('-7days', 'Europe/Paris').timestamp %}
                            <div class="badge-new">{{ 'new'|trans }}</div><br />
                        {% endif %}
                        <div class="big-title">{{ product.name }}</div>
                        <br />
                        <div class="text-blue-grey">
                            {{ product.shortDescription|striptags|raw }}<br />
                        </div>

                        {# product's vendor #}
                        <p>{{ 'sold_by'|trans }}:&nbsp;{{ product.companies[0].name }}</p>

                        {# open contact vendor modal #}
                        <a data-toggle="modal" href="#discussion-modal">{{ 'contact_vendor'|trans }}</a>

                        {# actual discussion modal #}
                        {% include '@App/product/_discussion-modal.html.twig' %}

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div id="mini-gallery">
                            {% if declination.images %}
                               {% include '@App/common/product/image-gallery.html.twig' with {'images': declination.images } %}
                            {% else %}
                                <img src="{{ asset('images/no-image.jpg') }}" class="img-responsive" />
                            {% endif %}

                            {# The favorite management only dislays if user is connected #}
                            {% if app.user %}
                                <div id="favorite-management">
                                    <a href="#" @click="removeFromFavorite" v-if="isFavorite">{{ 'product.favorite.remove' |trans }}</a>
                                    <a href="#" @click="addToFavorite" v-else>{{ 'product.favorite.add' |trans }}</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-md-9">
                        <hr />
                        <div class="row bloc">
                            <div class="col-md-8">
                                <label>RÉF. FOURNISSEUR</label><br />
                                <span>{{ product.supplierReference }}</span><br />
                            </div>
                            <div class="col-md-4">
                                <label>Code EAN :</label><br />
                                <span>{{ product.code }}</span>
                                <br />
                            </div>
                        </div>

                        <div class="row bloc-and-shipping">
                            <div class="col-md-12">
                                <hr />
                                <div class="badge-stock">
                                    {% if inStock %}
                                        En stock
                                    {% else %}
                                        Rupture de stock
                                    {% endif %}
                                </div><br />
                            </div>
                        </div>

                        {# price and quantity on mobile and tablet #}
                        <div class="row bloc">
                            <div class="col-xs-12 hidden-md hidden-lg">
                                {% include '@App/product/_widget.html.twig' %}
                            </div>
                        </div>

                        <div class="row bloc">
                            <div class="col-md-12">
                                <hr />
                                <h1 class=""> Description du produit </h1>
                                {{ product.description|striptags('<br><p>')|raw }}
                                <hr />
                            </div>
                        </div>

                        <div class="row bloc">
                            <div class="col-md-12">
                                <h1>Caractéristiques techniques</h1>
                                <table>
                                    {% for attribute in product.attributes %}
                                        <tr>
                                            <td>{{ attribute.name }}</td>
                                            <td>
                                                {% for value in attribute.value %}
                                                    {{ value }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <hr />
                            </div>
                        </div>
                        <div class="row bloc">
                            <div class="col-md-12">
                                {% if reviews|length > 0 %}
                                    {% for review in reviews %}
                                        <div class="review">
                                            <div class="review-info">
                                                <span class="review-author">{{ review.author.name }}</span>
                                                <div class="review-ratings">
                                                    {% for i in 1..5 %}
                                                        {% if i <= review.rating %}
                                                            <i class="glyphicon glyphicon-star"></i>
                                                        {% else %}
                                                            <i class="glyphicon glyphicon-star-empty"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <p class="review-message">{{ review.message |capitalize }}</p>
                                            <div class="review-date">
                                                <span>{{ review.postedAt|date('d/m/Y') }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="add-review">
                                    <h2>{{ 'add_a_comment'|trans }}</h2>
                                    {% if app.user %}
                                        <form name="add-reviews" method="post" action="{{ path('create_product_review') }}">
                                            <input type="hidden" name="redirect_url" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <input type="hidden" name="author" value="{{ app.user.wizaplaceUser.firstName~' '~app.user.wizaplaceUser.lastName }}">
                                            <div>
                                                <label for="review-rate" class="">{{ 'your_rating'|trans }}&nbsp;:</label>
                                                <input id="review-rate" name="rating" class="js-rating form-control hide" value="3" />
                                            </div>
                                            <div>
                                                <label for="review-message" class="">{{ 'your_message'|trans }}&nbsp;:</label>
                                                <textarea id="review-message" name="message" class="form-control" rows="5" cols="72"></textarea>
                                            </div>
                                            <input type="submit" class="btn" name="dispatch[discussion.add]" value="{{ 'send'|trans|upper }}" />
                                        </form>
                                    {% else %}
                                        <a href="{{ path('login') }}">{{ 'login_to_comment'|trans }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# price and quantity on desktop #}
            <div class="col-md-4 hidden-xs hidden-sm pull-right">
                {% include '@App/product/_widget.html.twig' %}
            </div>
        </div>
    </div>

    {% include '@App/common/product/showcase.html.twig' with {'headerTitle': 'Autres "Bornes Wifi', "products" : latestProducts } %}
    {% include '@App/common/product/showcase.html.twig' with {'headerTitle': 'Accéssoires "Réseaux', "products" : latestProducts } %}

    {# 'added to basket' modal #}
    {% include '@App/common/basket-popup.html.twig' %}

    <script>
        $(function() {

            var vm = new Vue({
                delimiters: ['${','}'],
                el: '#product-page',
                data: {
                    productId: {{ product.id }},
                    quantity: 1,
                    declinationId: '{{ declination.id }}',
                    isFavorite: {% if isFavorite %}true{% else %}false{% endif %},
                },

                methods: {
                    increaseQuantity: function() {
                        if(this.quantity < {{ product.declinations.0.amount|e('js') }}) {
                            this.quantity ++;
                        }
                    },

                    decreaseQuantity: function() {
                        if(this.quantity > 1) {
                            this.quantity --;
                        }
                    },

                    submitBasket: function() {
                        var quantity = this.quantity;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('basket_add_product') }}",
                            data: { declinationId: this.productId, quantity: quantity },
                            success: function(response) {
                                var declinationInfo = {
                                    name: {{ product.name|json_encode|raw }},
                                    price: {{ declination.priceWithoutVat|json_encode|raw }},
                                    image: {{ (declination.images|length > 0) ? declination.images|first|imageUrl(100, 100)|json_encode|raw : 'null' }},
                                };
                                hydrateModal(declinationInfo, quantity, response.message);
                            }
                        });
                    },

                    addToFavorite: function () {
                        var self = this;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('add_to_favorites') }}",
                            data: { declinationId: this.declinationId },
                            success: function(response) {
                                self.isFavorite = true;
                            },
                            error: function () {
                                console.log('oops');
                            }
                        });
                    },

                    removeFromFavorite: function () {
                        var self = this;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('remove_from_favorites') }}",
                            data: { declinationId: this.declinationId },
                            success: function(response) {
                                self.isFavorite = false;
                            }
                        });
                    }
                },
            });

            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });

            $('.slider-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 3,
                asNavFor: '.slider-for',
                infinite: true,
                dots: true,
                centerMode: true,
                focusOnSelect: true,
                arrows: false
            });
        });

        function updateDeclination(select){
            window.location.replace($(select).find(':selected').data('url'));
        }
    </script>

{% endblock %}
