{% extends '@App/layout.html.twig' %}

{% block meta %}
    <link rel="canonical" href="{{ product|productUrl }}">
{% endblock %}

{% block body %}
    <section id="product-page">
        <div class="container">
            {# breadcrumb #}
            <ol class="breadcrumb">
                <li><a href="{{ path("home") }}">{{ 'home.label'|trans }}</a></li>

                {# create links from product categories #}
                {% for category in product.categoryPath %}
                    <li><a href="{{ path('category', { slug: category.slug }) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ol>

            {# product name #}
            <h1>{{ product.name }}</h1>

            {# product short description #}
            <p>{{ product.shortDescription|striptags|raw }}</p>

            {# product brand ('brand' and 'brandUrl' are Twig filter extensions provided by the WizaplaceFrontBundle) #}
            {% set brand = product|brand %}
            {% if brand|default() %}
                <a href="{{ brand|brandUrl }}">{{ brand.name }}</a>
            {% endif %}

            {# product's vendor #}
            <p><a href="{{ path('company', { slug: product.companies[0].slug }) }}">{{ product.companies[0].name }}</a></p>

            {# user must be logged in to contact vendor #}
            {% if app.user %}

                {# trigger 'contact vendor' modal #}
                <a data-toggle="modal" href="#discussion-modal">{{ 'product.contact_vendor.label'|trans }}</a>

            {% else %}
                <a href="{{ path('login', {'redirect_url': app.request.uri}) }}">{{ 'product.contact_vendor.login_constraint'|trans }}</a>
            {% endif %}


            {# product images #}
            {% if images %}
                <div class="js-slick-declination-images">

                    {# featured image #}
                    <div class="slider-for">
                        {% for image in images %}
                            <div><img src="{{ image|imageUrl(350, 350)}}"></div> {# empty div element is needed to avoid a height of 1px #}
                        {% endfor %}
                    </div>

                    {# thumbnails #}
                    <div class="slider-nav">
                        {% for image in images %}
                            <div><img src="{{ image|imageUrl(150, 150)}}"></div> {# empty div element is needed to avoid a height of 1px #}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <img src="{{ asset('images/no-image.jpg') }}">
            {% endif %}

            {% block product_extra %}{% endblock product_extra %}

            {# supplier reference #}
            <div>{{ product.supplierReference }}</div>

            {# product code (EAN) #}
            <div>{{ product.code }}</div>

            {# product is/isn't in stock #}
            {% if isAvailable %}
                <div>{{ 'product.stock.in_stock'|trans }}</div>
            {% else %}
                <div>{{ 'product.stock.out_of_stock'|trans }}</div>
            {% endif %}


            {# options selector #}
            {% if optionsSelects %}
                <ul>
                    {% for select in optionsSelects  %}
                        <li>{{ select.option.name }}
                            <select data-id="{{ select.option.id }}" onchange="updateDeclination(this)">
                                {% for item in select.items %}
                                    <option value="{{ item.optionVariant.id }}" data-url="{{ item.url }}" {% if item.selected %}selected{% endif %}>{{ item.optionVariant.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# change quantity / add to basket #}
            <form method="POST" @submit.prevent="addToBasket">
                <input type="number" v-model="quantity" {% if not isAvailable %} disabled {% endif %}>
                <button type="button" @click="decreaseQuantity" {% if not isAvailable %} disabled {% endif %}> - </button>
                <button type="button" @click="increaseQuantity" {% if not isAvailable %} disabled {% endif %}> + </button>
                {% if isAvailable %}
                    <button type="submit">{{ 'product.action.add_to_basket'|trans }}</button>
                {% else %}
                    <button type="button" disabled>{{ 'product.stock.out_of_stock'|trans }}</button>
                {% endif %}
            </form>

            {# long description #}
            <div>{{ product.description|striptags('<br><p>')|raw }}</div>


            {# attributes #}

            {# simple attributes #}
            <ul>
                {% for attribute in product.attributes if attribute.children|length == 0 %}
                    <li>{{ attribute.name }} : {{ attribute.value|join(', ') }}</li>
                {% endfor %}
            </ul>

            {# grouped attributes #}
            {% for attribute in product.attributes if attribute.children|length > 0 %}
                <h4>{{ attribute.name }}</h4>
                <ul>
                    {% for attribute in attribute.children %}
                        <li>{{ attribute.name }} : {{ attribute.value|join(', ') }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}


            {# customer reviews #}
            {% for review in reviews if reviews|length > 0 %}

                {# reviewer name #}
                <div>{{ review.author.name }}</div>

                {# date #}
                <div>{{ review.postedAt|date('d/m/Y') }}</div>

                {# rating #}
                <div>
                    {% for i in 1..5 %}
                        {% if i <= review.rating %}
                            <i class="glyphicon glyphicon-star"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-star-empty"></i>
                        {% endif %}
                    {% endfor %}
                </div>

                {# review message #}
                <div>{{ review.message }}</div>
            {% endfor %}

            {# trigger 'report product' modal #}
            <div><a data-toggle="modal" href="#report-modal">{{ 'product.report_modal.trigger'|trans }}</a></div>

            {# 'add your own review' #}

            {# user is logged in #}
            {% if app.user %}
                <form method="POST" action="{{ path('create_product_review') }}">
                    <div class="demo-block column">
                        <input type="hidden" name="redirect_url" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="author" value="{{ app.user.wizaplaceUser.firstName~' '~app.user.wizaplaceUser.lastName }}">

                        {# star rating #}
                        <label for="review-rating">{{ 'product.review.rating'|trans }}</label>
                        <input id="review-rating" name="rating" class="js-rating" value="3">

                        {# message input #}
                        <label for="review-message">{{ 'product.review.message'|trans }}</label>
                        <textarea id="review-message" name="message"></textarea>

                        {# review submit button #}
                        <input type="submit" name="dispatch[discussion.add]" value="{{ 'product.review.validate'|trans|upper }}">
                    </div>
                </form>

            {# user is not logged in #}
            {% else %}
                <a href="{{ path('login', {'redirect_url': app.request.uri}) }}">{{ 'product.review.login_constraint'|trans }}</a>
            {% endif %}

            {# products carousel #}
            <div class="js-slick-product-group">
                {% for product in latestProducts %}
                    {% include '@App/common/product/_card.html.twig' with { "product": product } %}
                {% endfor %}
            </div>
        </div>

        {# modals without scripts #}
        {% include '@App/product/_modal_discussion.html.twig' %}
        {% include '@App/product/_modal_report.html.twig' %}
    </section>

        {# modals with scripts (outside of vuejs scope) #}
        {% include '@App/common/product/_modal_add-to-basket.html.twig' %}

{% endblock %}

{% block scripts %}
    <script>
        function updateDeclination(select){

            {# display spinner while new page is loading #}
            helper.displayLoadingSpinner();

            {# redirect to selected declination url #}
            var redirectUrl = $(select).find(':selected').data('url');
            window.location.replace(redirectUrl);
        }
    </script>
{% endblock %}
