{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            {# profile menu #}
            <div class="col-md-3 profile-menu">
                {% block profile_menu %}

                    {# user profile #}
                    <div class="title">{{ 'profile.layout.account.title' | trans }}</div>
                    <ul>
                        <li><a href="{{ path("profile") }}">{{ 'profile.layout.account.profile' | trans }}</a></li>
                        <li><a href="{{ path("profile_addresses") }}">{{ 'profile.layout.account.addresses' | trans }}</a></li>
                    </ul>

                    {# user purchases #}
                    <div class="title">{{ 'profile.layout.purchases.title' | trans }}</div>
                    <ul>
                        <li><a href="{{ path("profile_orders") }}">{{ 'profile.layout.purchases.orders' | trans }}</a></li>
                        <li><a href="{{ path("profile_returns") }}">{{ 'profile.layout.purchases.returns' | trans }}</a></li>
                        <li><a href="{{ path("profile_after_sale_service") }}">{{ 'profile.layout.purchases.after_sales_service' | trans }}</a></li>
                    </ul>

                    {# user favorites #}
                    <div class="title">{{ 'profile.layout.favorites.title' | trans }}</div>
                    <ul>
                        <li><a href="{{ path('profile_favorites') }}">{{ 'profile.layout.favorites.list' | trans }}</a></li>
                    </ul>

                    {# user discussions #}
                    <div class="title">{{ 'profile.layout.discussions.title' | trans }}</div>
                    <ul>
                        <li><a href="{{ path("profile_discussions") }}">{{ 'profile.layout.discussions.messages' | trans }}</a></li>
                    </ul>
                {% endblock %}
            </div>

            {# profile content #}
            <div class="col-md-9">
                {% block profile_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
