<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title -%}{{ 'page_title_default'|trans }}{%- endblock %}</title>
    {% block meta_description -%}{# <meta name="description" content="page's meta description" /> #}{%- endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('style/app.css') }}">

    {% block meta %}{% endblock %}

    {# Inlined template scripts need jquery to be loaded first #}
    <script src="{{ asset('scripts/jquery.min.js') }}"></script>

    {# Use the same locale in Symfony and in our AJAX calls, wait for page to be fully loaded to use jquery #}
    <script>
        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader('Accept-Language', '{{ app.request.locale }}');
        });
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    {% if app.debug %}
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% else %}
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    {% endif %}
</head>
<body>

{% block header %}{% include('@App/common/_header.html.twig') %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% include('@App/common/_footer.html.twig') %}{% endblock %}

{# overlay, modal, notification, etc. #}
{% include('@App/common/_components.html.twig') %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsApiKey }}&libraries=places" async defer></script>
<script src="{{ asset('scripts/app.js') }}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
