<div class="modal fade" tabindex="-1" role="dialog" id="password-reset-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {# header #}
            <div class="modal-header">
                <i data-dismiss="modal">&times;</i>
                <p class="title">{{ 'auth.modal.label'|trans }}</p>
            </div>

            {# body #}
            <div class="modal-body">
                <form method="post" action="{{ path('reset_password_initiate') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('password_token') }}">

                    {# message #}
                    <p>{{ 'auth.modal.message'|trans }}</p>

                    {# email #}
                    <input type="email" name="email" placeholder="{{ 'auth.modal.placeholder'|trans }}" required>

                    {# action buttons #}
                    <button type="button" data-dismiss="modal">{{ 'auth.modal.button.cancel'|trans }}</button>
                    <button type="submit">{{ 'auth.modal.button.validate'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
