{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="big-spacer"></div>
    <form method="post" action="{{ path('login') }}" class="container">
        <input type="hidden" name="{{ constant('AppBundle\\Controller\\AuthController::CSRF_FIELD_NAME') }}" value="{{ csrf_token(constant('AppBundle\\Controller\\AuthController::CSRF_LOGIN_ID')) }}">
        <input type="hidden" name="{{ constant('AppBundle\\Controller\\AuthController::REDIRECT_URL_FIELD_NAME') }}" value="{{ redirectUrl }}">

        {# email #}
        <div class="form-group">
            <input type="email" class="form-control" name="{{ constant('AppBundle\\Controller\\AuthController::EMAIL_FIELD_NAME') }}" placeholder="{{ 'email_placeholder'|trans }}" required>
        </div>

        {# password #}
        <div class="form-group">
            <input type="password" class="form-control" name="{{ constant('AppBundle\\Controller\\AuthController::PASSWORD_FIELD_NAME') }}" placeholder="{{ 'password'|trans }}..." required>
            <a href="#password-reset-modal" data-toggle="modal" rel="nofollow" class="forgotten-password">{{ 'forgotten_password'|trans }}</a>
        </div>

        {# submit login form #}
        <button type="submit" class="btn btn-primary validate">
            <span>{{ 'validate'|trans }}</span>
            <i class="fa fa-check"></i></button>
        </button>
    </form>
{% endblock %}
