{% extends '@App/layout.html.twig' %}

{% block body %}
    <form action="{{ path('reset_password_submit') }}" method="post" class="container">
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token('reset_password') }}" />
        <input type="password" name="newPassword" placeholder="{{ 'new_password_placeholder'|trans }}" />
        <button type="submit">{{ 'submit_new_password'|trans }}</button>
    </form>
{% endblock %}
