{% extends 'layout-profile.html.twig' %}

{% block profile_content %}

    {# update user's profile #}
    <form action="{{ path('update_user') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('profile_update_token') }}">
        <input type="hidden" name="user[id]" value="{{ profile.id }}">

        {# gender #}
        <div class="form-group">
            <div>{{ 'gender'|trans }}</div>

            <label class="radio">
                <input type="radio" value="4"
                    {% if profile.billingAddress.37 == 4 %} checked="checked" {% endif %}
                    {# TODO: manage gender update: name="user[addresses][billing][37]" #}
                        name="willBeChanged"
                >
                <span class="input-label">{{ 'mr'|trans }}</span>
            </label>

            <label class="radio">
                <input type="radio" value="3"
                        {% if profile.billingAddress.37 == 3 %} checked="checked" {% endif %}
                        {# TODO: name="user[addresses][billing][37]" #}
                            name="willBeChanged"
                >
                <span class="input-label">{{ 'mrs'|trans }}</span>
            </label>
        </div>

        {# firstname #}
        <div class="form-group">
            <label for="firstname">{{ 'firstname'|trans }}</label>
            <input id="firstname" type="text" class="form-control" name="user[firstName]" value="{{ profile.firstname }}">
        </div>

        {# lastname #}
        <div class="form-group">
            <label for="lastname">{{ 'lastname'|trans }}</label>
            <input id="lastname" type="text" class="form-control" name="user[lastName]" value="{{ profile.lastname }}">
        </div>

        {# email #}
        <div class="form-group">
            <label for="email">{{ 'email'|trans }}</label>
            <input id="email" type="text" class="form-control" name="user[email]" value="{{ profile.email }}">
        </div>

        {# password #}
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" id="password-update-trigger">
                <span class="input-label">{{ 'update_my_password'|trans }}</span>
            </label>

            {# password update (starts off hidden on page load) #}
            <div id="password-update-block" style="display: none">
                <div class="form-group">
                    <label for="current-password">{{ 'current_password'|trans }}</label>
                    <input id="current-password" type="password" class="form-control" name="user[password][old]" autocomplete="off" disabled required>
                </div>

                <div class="form-group">
                    <label for="new-password">{{ 'new_password'|trans }}</label>
                    <input id="new-password" type="password" class="form-control" name="user[password][new]" autocomplete="off" disabled required>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{ 'save_changes'|trans }}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            {# password update behaviours #}
            $("#password-update-trigger").on("change", function() {

                let $passwordUpdateBlock = $('#password-update-block');

                {# toggle password update block #}
                $passwordUpdateBlock.find('input').prop('disabled', function(i, bool) { return !bool; });
                $passwordUpdateBlock.toggle('slow');

                {# cleanup: clear inputs when fields are hidden #}
                $passwordUpdateBlock.find('input').val('');
            });
        });
    </script>
{% endblock %}
