<div class="basket-summary">
    <h1 class="main-title">{{ 'basket_summary'|trans }}</h1>

    {# products #}
    <ul>
        {% for companyGroup in basket.companyGroups %}
            {% for shippingGroup in companyGroup.shippingGroups %}
                {% for item in shippingGroup.items %}
                    <li>
                        <p>{{item.productName}}</p>
                        <span>{{item.quantity}}x</span>
                        <span>{{item.individualPrice|price}}&nbsp;{{ 'including_taxes'|trans }}</span>
                    </li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
    <hr>

    {# sub total #}
    <div>{{ 'sub_total'|trans }}</div>
    <p>{{ basket.subtotal|price }}&nbsp;{{ 'including_taxes'|trans }}</p>

    {# promo code #}
    {% if basket.totalDiscount %}
        <div>{{ 'promotion'|trans }}</div>
        <p>- {{ basket.totalDiscount|price }}&nbsp;{{ 'including_taxes'|trans }}</p>
    {% endif %}

    {# shipping amount #}
    <div>{{ 'shipping'|trans }}</div>
    <p>{{ basket.totalShipping|price }}&nbsp;{{ 'including_taxes'|trans }}</p>

    {# total amount #}
    <div>{{ 'total' }}&nbsp;{{ 'including_taxes'|trans }}</div>
    <div> {{ basket.total|price }}&nbsp;{{ 'including_taxes'|trans }}</div>

    <div>{{ 'including_vat_and_taxes'|trans }}</div>
    <span>{{ basket.totalTax|price }}</span>
</div>
