{% extends '@App/layout.html.twig' %}

{% block body %}
    <section class="basket">
        <div class="container">
            {# steps breadcrumb #}
            {% include '@App/checkout/steps.html.twig' with {step: 1} %}

            {# basket products are grouped per company #}
            {% if basket.companyGroups|default %}
                {% for companyGroup in basket.companyGroups %}

                    {# basket products are sub-grouped per shipping available options #}
                    {% for shippingGroup in companyGroup.shippingGroups %}
                        <div class="shipping-group" data-shipping-group-id="{{ shippingGroup.id }}">

                            {# display all products in this company/shipping group #}
                            {% for product in shippingGroup.items %}
                                <article class="basket-product" data-declination-id="{{ product.declinationId }}">

                                    {# product image #}
                                    <div class="image">
                                        {% if product.mainImage|default %}

                                            {# actual image (dimensions are constrained to avoid displaying a HiRes picture instead of a thumbnail) #}
                                            <img src="{{ product.mainImage|imageUrl(150, 150) }}" alt="">

                                        {% else %}
                                            {# product without image #}
                                            <div class="no-image">{{ 'no_image'|trans }}</div>
                                        {% endif %}
                                    </div>

                                    {# product details #}
                                    <div class="details">

                                        {# product name #}
                                        <div class="name">{{ product.productName }}</div>

                                        <p>{{ 'individual_price'|trans }}&nbsp;:</p>
                                        {# product price #}
                                        {% if product.crossedOutPrice|default %}
                                            <div class="crossed-out-price">
                                                {{ product.crossedOutPrice|price }}&nbsp;TTC
                                            </div>
                                        {% endif %}

                                        <div class="price">
                                            {{ product.individualPrice|price }}&nbsp;TTC
                                        </div>
                                    </div>

                                    {# quantity widget #}
                                    <article class="quantity">
                                        <div class="widget-label">{{ 'quantity'|trans }}</div>

                                        <div class="widget">
                                            <button class="decrease-quantity">-</button>
                                            <input class="product-quantity" type="number" step="1" pattern="[-+]?[0-9]" value="{{ product.quantity }}">
                                            <button class="increase-quantity">+</button>
                                        </div>
                                    </article>
                                </article>
                            {% endfor %}

                            {# display shipping available options for this group of products #}
                            <select class="select-shipping" title="{{ 'select_shipping_method'|trans }}">
                            {% for shipping in shippingGroup.shippings %}
                                    <option value="{{ shipping.id }}" {% if shipping.selected %}selected{% endif %} >
                                        {{ shipping.name }}
                                        {% if shipping.deliveryTime|default %}({{ shipping.deliveryTime }}){% endif %}
                                        -
                                        {{ shipping.price }}
                                    </option>
                            {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% if basket.totalQuantity > 0 %}
                <div class="container-fluid basket" style="background-color:#efefef">
                    <div class="col-md-6  col-md-offset-6">
                        <label>Code promo</label><br />
                        <input type="text" placeholder=" Votre code" />
                        <button class="btn btn-default active">Appliquer</button>
                        <div class="big-spacer"></div>

                        {# basket amount details #}
                        <table class="price-table" style="margin-left:-240px;">

                            {# total excluding taxes without shipping #}
                            <tr>
                                <td class="text-right"><div class="title">Sous total HT</div></td>
                                <td class="text-left"> {{ basket.subtotal|price }}&nbsp;{{ 'including_taxes'|trans }}</td> {# TODO modify with amount excl. taxes #}
                            </tr>

                            {% if basket.totalDiscount > 0 %}
                                <tr>
                                    <td class="text-right"><div class="title">Promotion HT</div></td>
                                    <td class="text-left">- {{ basket.totalDiscount|price }}&nbsp;{{ 'including_taxes'|trans }}</td> {# TODO modify with amount excl. taxes #}
                                </tr>
                            {% endif %}

                            {# shipping price #}
                            <tr>
                                <td class="text-right"><div class="title">Livraison HT</div></td>
                                <td class="text-left"> {{ basket.totalShipping|price }}&nbsp;{{ 'including_taxes'|trans }}</td> {# TODO modify with amount excl. taxes #}
                            </tr>

                            {# total excluding taxes #}
                            <tr>
                                <td class="text-right"><div class="title">Total HT</div></td>
                                <td class="text-left"> {{ basket.total|price }}&nbsp;{{ 'including_taxes'|trans }}</td>{# TODO modify with amount excl. taxes #}
                            </tr>

                            {# total including taxes #}
                            <tr>
                                <td class="text-right">
                                    <div class="big-spacer"></div>
                                    <div class="title text-blue">Total {{ 'including_taxes'|trans }}</div>
                                </td>
                                <td class="text-left"><div class="big-title text-blue">{{ basket.total|price }}&nbsp;{{ 'including_taxes'|trans }}</div></td>
                            </tr>

                            {# taxes detail #}
                            <tr>
                                <td class="text-right"><div class="title">Dont TVA et autres taxes</div></td>
                                <td class="text-left">{{ basket.totalTax|price }}</td>
                            </tr>
                        </table>
                        <div class="spacer"></div>

                        {% set nextStepLink = user|default ? path("checkout_addresses") : path("checkout_login") %}
                        <a href="{{ nextStepLink }}" class="btn btn-lg btn-primary">Valider mon panier</a>
                        <div class="spacer"></div>

                        <div class="reinsurance">
                            <div class="reinsurance-item">
                                <i class="icon icon-box"></i>
                                <div class="light-title">Livraison express 24/48h</div>
                            </div>

                            <div class="reinsurance-item">
                                <i class="icon icon-shield"></i>
                                <div class="light-title">Paiement 100% sécurisé</div>
                            </div>

                            <div class="reinsurance-item">
                                <i class="icon icon-phone-o"></i>
                                <div class="light-title">Assistance & Conseils<br>0800 97 55 55 (gratuit)</div>
                            </div>
                        </div>
                        <div class="spacer"></div>
                    </div>
                </div>
            {% else %}
                <p class="no-product">{{ 'your_basket_is_empty'|trans }}</p>
                <a href="{{ path('home') }}" class="btn btn-default">{{ 'continue_my_shopping'|trans }}</a>
            {% endif %}
        </div>
    </section>

    <script>

        {# quantity updates / page reload #}
        {# ============================== #}

        {# update quantity with custom buttons #}
        $('.decrease-quantity').on('click', function(){
            var $inputField = $(this).closest('.quantity').find('input');

            if($inputField.val() > 0) {
                $inputField.val(parseInt($inputField.val()) - 1);
                modifyBasketQuantity($inputField);
            }
        });

        $('.increase-quantity').on('click', function(){
            var $inputField = $(this).closest('.quantity').find('input');
            $inputField.val(parseInt($inputField.val()) + 1);
            modifyBasketQuantity($inputField);
        });

        {# update quantity with manual input #}
        $('.product-quantity').on('change', function(){
            modifyBasketQuantity($(this));
        });

        function modifyBasketQuantity($inputField){

            // show overlay and spinner
            helper.displayLoadingSpinner();

            let declinationId = $inputField.closest('.basket-product').data('declination-id');

            $.ajax({
                method: "POST",
                url: "{{ url('basket_update_product_quantity') }}",
                data: {
                    declinationId: declinationId,
                    quantity: $inputField.val()
                }
            }).done(function () {
                window.location.reload();
            });
        }


        {# shipping update / page reload #}
        {# ============================= #}

        $('.select-shipping').on('change', function() {

            // show overlay and spinner
            helper.displayLoadingSpinner();

            let shippingGroupId = $(this).closest('.shipping-group').data('shipping-group-id');
            let shippingId = $(this).find('option:selected').val();

            $.ajax({
                method: "POST",
                url: "{{ url('basket_update_shipping') }}",
                data: {
                    shippingGroupId: shippingGroupId,
                    shippingId: shippingId
                }
            }).done(function () {
                window.location.reload();
            });
        });
    </script>
{% endblock %}
