{% extends '@App/layout.html.twig' %}
{% set user = app.user.wizaplaceUser %}

{% block body %}

    {# steps breadcrumb #}
    {% include '@App/checkout/steps.html.twig' with {step: 4} %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-offset-2 col-lg-5">
                <h1 class="main-title">{{ 'choose_payment'|trans }}</h1>
                <form method="post" action="{{ path('checkout_submit_payment') }}">
                    <div class="panel">
                        <ul>
                            {% for payment in payments %}
                                <li class="radio">
                                    <label>
                                        <input type="radio" name="paymentId" value="{{ payment.id }}" {% if loop.first %}checked{% endif %}><span></span>
                                        {{ payment.name }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="submit" class="btn btn-primary">{{ 'proceed_payment'|trans }}</button>
                    </div>
                </form>

                <div class="spacer"></div>

                <h1 class="main-title">{{ 'shipping_methods'|trans }}</h1>

                <div class="spacer"></div>

                <h1 class="main-title">{{ 'billing_address'|trans }}</h1>
                {{ 'civility'|trans }} : {{ user.billingAddress.title|trans }}<br />
                {{ 'firstname'|trans }} : {{ user.billingAddress.firstname }}<br />
                {{ 'lastname'|trans }} : {{ user.billingAddress.lastname }} <br />
                {{ 'company'|trans }} : {{ user.billingAddress.company }}<br />
                {{ 'phone_number'|trans }} : {{ user.billingAddress.phone }} <br />
                {{ 'address'|trans }} : {{ user.billingAddress.address }}<br />
                {{ 'address2'|trans }} : {{ user.billingAddress.address_2 }} <br />
                {{ 'zipcode'|trans }} : {{ user.billingAddress.zipcode }}<br />
                {{ 'city'|trans }} : {{ user.billingAddress.city }}<br />
                {{ 'country'|trans }} : {{ user.billingAddress.country }}<br />
                <a class="btn btn-default" href="{{ path('checkout_addresses') }}">{{ 'modify'|trans }}</a>

                <div class="spacer"></div>
                <h1 class="main-title">{{ 'shipping_address'|trans }}</h1>

                {{ 'civility'|trans }} : {{ user.shippingAddress.title|trans }}<br />
                {{ 'firstname'|trans }} : {{ user.shippingAddress.firstname }}<br />
                {{ 'lastname'|trans }} : {{ user.shippingAddress.lastname }} <br />
                {{ 'company'|trans }} : {{ user.shippingAddress.company }}<br />
                {{ 'phone_number'|trans }} : {{ user.shippingAddress.phone }} <br />
                {{ 'address'|trans }} : {{ user.shippingAddress.address }}<br />
                {{ 'address2'|trans }} : {{ user.shippingAddress.address_2 }} <br />
                {{ 'zipcode'|trans }} : {{ user.shippingAddress.zipcode }}<br />
                {{ 'city'|trans }} : {{ user.shippingAddress.city }}<br />
                {{ 'country'|trans }} : {{ user.shippingAddress.country }}<br />
                <a class="btn btn-default" href="{{ path('checkout_addresses') }}">{{ 'modify'|trans }}</a>
            </div>

            <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-lg-offset-1 col-lg-4">
                {% include '@App/checkout/_basket-summary.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
