{% extends 'layout.html.twig' %}

{% block body %}
    <div class="big-spacer"></div>
    <form method="post" action="{{ path('login') }}" class="container">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('login_token') }}">

        {# email #}
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="{{ 'email_placeholder'|trans }}" required>
        </div>

        {# password #}
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="{{ 'password'|trans }}..." required>
            <a href="#password-reset-modal" data-toggle="modal" rel="nofollow" class="forgotten-password">{{ 'forgotten_password'|trans }}</a>
        </div>

        {# submit login form #}
        <button type="submit" class="btn btn-primary validate">
            <span>{{ 'validate'|trans }}</span>
            <i class="fa fa-check"></i></button>
        </button>
    </form>
{% endblock %}
