
<div class="tab-content">

    {# login #}
    <div role="tabpanel" class="tab-pane active" id="login">
    <h1>Connexion </h1>
    <form method="post" action="{{ path('login') }}">
      <div class="form-group">
          <input type="hidden" name="csrf_token" value="{{ csrf_token('login_token') }}">
          <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">
          <label for="input-email">E-mail </label>
        <input type="email" class="form-control" id="input-email" name="email" placeholder="">
      </div>
      <div class="form-group">
        <label for="input-password">Mot de passe</label>
        <input type="password" class="form-control" id="input-password" name="password" placeholder="">
        <a href="#reset-password" class="technical-link" disabled="disabled" role="tab" data-toggle="tab">Mot de passe oublié ?</a>
      </div>
      <p><button type="submit" class="btn btn-primary">Me connecter</button></p>
      <p><a href="#register" class="btn btn-default" aria-controls="register" role="tab" data-toggle="tab">Créer mon compte</a></p>
    </form>
    </div>

    {# register #}
    <div role="tabpanel" class="tab-pane" id="register">
    <h1>Créer un compte </h1>
    <form method="post" action="{{ path('register') }}">
        <div class="form-group">
            <label for="input-email">E-mail </label>
            <input type="email" class="form-control" id="input-email" name="email" placeholder="">
        </div>
        <div class="form-group">
            <label for="input-password">Mot de passe</label>
            <input type="password" class="form-control" id="input-password" name="password" placeholder="">
        </div>

        {# reCaptcha #}
        <div class="g-recaptcha" data-sitekey="{{ recaptchaKey() }}"></div>
        <script type="text/javascript"
              src="https://www.google.com/recaptcha/api.js?hl=fr">
        </script>

        <p><button type="submit" class="btn btn-primary">Créer mon compte</button></p>
        <p><a href="#login" class="btn btn-default" aria-controls="login" role="tab" data-toggle="tab">Me connecter</a></p>
    </form>
    </div>

    {# reset password #}
    <div role="tabpanel" class="tab-pane" id="reset-password">
        <h1>Récupérer mon mot de passe</h1>
        <form method="post" action="{{ path('reset_password') }}">
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('reset_password') }}">
            <label for="input-email">E-mail </label>
            <input type="email" class="form-control" id="input-email" name="email">
          </div>
          <p><button type="submit" class="btn btn-primary">Restaurer mon mot de passe</button></p>
        </form>
    </div>
</div>
