<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Projet Starter Kit{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('style/app.css') }}">

    <script src="{{ asset('scripts/jquery.min.js') }}"></script>
</head>
<body>

{{ include('legacy/common/header.html.twig') }}
{{ include('legacy/common/header/nav-menu.html.twig') }}
{{ include('legacy/common/header/nav-menu-mobile.html.twig') }}

{{ include('legacy/common/header/notifications.html.twig') }}

{% block body %}{% endblock %}

{% block footer %}{% include('legacy/common/footer.html.twig') %}{% endblock %}

{# TODO: clean up (remove when not needed anymore) #}
<script src="{{ asset('scripts/legacy/legacy.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script src="{{ asset('scripts/libraries.js') }}"></script>
<script src="{{ asset('scripts/app.js') }}"></script>

</body>
</html>
