{% set user = currentUser() %}
<form action="{{ path("updateUser") }}" method="post">
    <input type="hidden" name="user[id]" value="{{ user.id }}" >
    <input type="hidden" name="user[email]" value="{{ user.email }}" >
    <input type="hidden" name="user[lastName]" value="{{ user.lastname }}" >
    <input type="hidden" name="user[firstName]" value="{{ user.firstname }}" >
    {% include 'legacy/common/user_addresses_forms/billing.html.twig' %}
    {% include 'legacy/common/user_addresses_forms/shipping.html.twig' %}
    <button type="submit" class="btn btn-default">Enregistrer les modifications</button>
</form>
