<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <input id="sameAddress" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" type="radio" name="sameAddress" value="true" checked> <label for="sameAddress"> Livrer à la même adresse</label>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Vos achats seront acheminés à la meme adresse que l'adresse de facturation.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <input id="notSameAddress" class="collapsed"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" type="radio" name="sameAddress" value=""> <label for="notSameAddress"> Livrer à une adresse différente</label>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="form-group">
                    <label for="">Civilité</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="user[addresses][shipping][38]" value="4" {% if user.shippingAddress.38==4 %} checked {% endif %}><span></span>
                            Monsieur
                        </label>
                        <label>
                            <input type="radio" name="user[addresses][shipping][38]" value="3" {% if user.shippingAddress.38==43 %} checked {% endif %}><span></span>
                            Madame
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="s-firstname">Prénom</label>
                    <input name="user[addresses][shipping][firstname]" type="text" class="form-control" id="s-firstname" value="{{ user.shippingAddress.firstname }}">
                </div>
                <div class="form-group">
                    <label for="s-name">Nom</label>
                    <input name="user[addresses][shipping][lastname]" type="text" class="form-control" id="s-name" value="{{ user.shippingAddress.lastname }}">
                </div>
                <div class="form-group">
                    <label for="s-company">Société</label>
                    <input name="user[addresses][shipping][40]" type="text" class="form-control" id="s-company" placeholder="">
                </div>
                <div class="form-group">
                    <label for="s-telephone">Téléphone</label>
                    <input name="user[addresses][shipping][phone]" type="text" class="form-control" id="s-telephone" value="{{ user.shippingAddress.phone }}">
                </div>
                <div class="form-group">
                    <label for="s-address">Adresse</label>
                    <input name="user[addresses][shipping][address]" type="text" class="form-control" id="s-address" value="{{ user.shippingAddress.address }}">
                </div>
                <div class="form-group">
                    <label for="s-address2">Complément adresse</label>
                    <input name="user[addresses][shipping][address_2]" type="text" class="form-control" id="s-address2" value="{{ user.shippingAddress.address_2 }}">
                </div>
                <div class="form-group">
                    <label for="s-zipcode">Code postal</label>
                    <input name="user[addresses][shipping][zipcode]" type="text" class="form-control" id="s-zipcode" value="{{ user.shippingAddress.zipcode }}">
                </div>
                <div class="form-group">
                    <label for="s-city">Ville</label>
                    <input name="user[addresses][shipping][city]" type="text" class="form-control" id="s-city" value="{{ user.shippingAddress.city }}">
                </div>
                <div class="form-group">
                    <label for="s-country">Pays</label>
                    <input name="user[addresses][shipping][country]" type="text" class="form-control" id="s-country" value="{{ user.shippingAddress.country }}">
                </div>
            </div>
        </div>
    </div>
</div>
