{% extends 'layout.html.twig' %}

{% block body %}
    {# steps breadcrumb #}
    {% include 'legacy/checkout/steps.html.twig' with {step: 2} %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-offset-2 col-lg-5">

                {# login #}
                <h1 class="main-title">Connexion</h1>
                <form method="post" action="{{ path('login') }}" class="account-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token("login_token") }}">
                    <input type="hidden" name="redirect_url" value="{{ path('checkout_addresses') }}">

                    <div class="form-group">
                        <label for="login-email">E-mail </label>
                        <input id="login-email" type="email" class="form-control" name="email" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="login-password">Mot de passe</label>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="mot de passe">
                        <a href="" class="technical-link">Mot de passe oublié ?</a>
                    </div>

                    <p><button type="submit" class="btn btn-primary">Me connecter</button></p>
                </form>
                <div class="spacer"></div>

                {# account creation #}
                <h1 class="main-title">Créer un compte </h1>
                <form method="post" action="{{ path('register') }}" class="account-form" autocomplete="off">
                    <input type="hidden" name="redirect_url" value="{{ path('checkout_addresses') }}">

                    <div class="form-group">
                        <label for="register-email">E-mail</label>
                        <input id="register-email" type="email" class="form-control" name="email" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="register-password">Mot de passe</label>
                        <input id="register-password" type="password" class="form-control" name="password" placeholder="mot de passe">
                    </div>

                    {# reCaptcha #}
                    <div class="g-recaptcha" data-sitekey="{{ recaptchaKey() }}"></div>
                    <script type="text/javascript"
                            src="https://www.google.com/recaptcha/api.js?hl=fr">
                    </script>

                    <p><button type="submit" class="btn btn-primary">Créer mon compte</button></p>
                </form>
            </div>

            <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-lg-offset-1 col-lg-4">
                {% include 'legacy/checkout/basket-summary.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
