<footer>
    <div class="container text-center">
        <ul class="footer-items">
            <li><a href="{{ path('cmsQuiSommesNous') }}" class="light-title">Qui sommes nous ? </a></li>
            <li><a href="{{ path('cmsAide') }}" class="light-title">Aide & FAQ </a></li>
            <li><a href="{{ path('cmsContact') }}" class="light-title">Contact </a></li>
            <li><a href="{{ path('cmsCgv') }}" class="light-title">CGV </a></li>
            <li><a href="{{ path('cmsMentionsLegales') }}" class="light-title">Mentions légales </a></li>
        </ul>
        <p class="light-title text-grey">Copyright ® 1998 — 2017</p>
    </div>
</footer>
