{% set user = app.user.wizaplaceUser %}

<form action="{{ path('update_user') }}" method="POST">
    <input type="hidden" name="return_url" value="{{ app.request.uri }}" >
    <input type="hidden" name="requested_url" value="{{ requested_url|default(path('home')) }}" >
    <input type="hidden" name="addresses_are_identical" value="{{ addressesAreIdentical }}" >
    <input type="hidden" name="user[email]" value="{{ user.email }}" >
    <input type="hidden" name="user[lastName]" value="{{ user.lastname }}" >
    <input type="hidden" name="user[firstName]" value="{{ user.firstname }}" >
    <input type="hidden" name="user[title]" value="{{ user.title|default }}" >
    <input type="hidden" name="csrf_token" value="{{ csrf_token('profile_update_token') }}">

    {# billing address #}
    {% include('@App/common/user_addresses/_billing_address.html.twig') %}

    {# different addresses checkbox #}
    <label class="checkbox">
        <input type="checkbox" id="differentAddress">
        <span class="input-label">{{ 'different_shipping_address'|trans }}</span>
    </label>

    {# shipping address #}
    <div id="shipping-address-wrapper" class="hidden"> {# hidden on page load #}
        {% include('@App/common/user_addresses/_shipping_address.html.twig') %}
    </div>

    <button type="submit" class="btn btn-primary">{{ submit_text|trans }}</button>
</form>

<script>
    $(function() {

        // 'different addresses' behaviour
        // ===============================

        let addressesAreIdentical = '{{ addressesAreIdentical|e('js') }}';
        let $shippingAddressForm = $('#shipping-address-wrapper');
        let $differentAddressesCheckbox = $('#differentAddress');

        // on page load, if shipping address is different
        if (! addressesAreIdentical) {
            toggleShippingForm(true);
        }

        function toggleShippingForm(bool) {

            // civility required attribute
            $('[type="radio"]').attr('required', bool);

            // every input field placed after a 'label.required' required attribute
            $('label.required + input').attr('required', bool);

            // tick/untick the checkbox
            $differentAddressesCheckbox.attr('checked', bool);

            // display/hide shipping address form
            $shippingAddressForm.toggleClass('hidden');
        }

        // toggle on click event
        $differentAddressesCheckbox.on('click', function() {

            // toggle boolean
            addressesAreIdentical = ! addressesAreIdentical;

            // change corresponding form hidden input
            $('[name="addresses_are_identical"]').val(addressesAreIdentical);

            toggleShippingForm(! addressesAreIdentical);
        });
    });
</script>
