{% set categories = categoryTree() %}

<ul class="categories list-inline">
    {% for category in categories %}

        {# root level #}
        {# ========== #}

        <li class="category dropdown list-inline-item">

            {# link to category page #}
            <a href="{{ path('category', {'slug': category.category.slug}) }}">{{ category.category.name }}</a>

            {# eventual children #}
            {% if category.children %}

                <a href="#" data-toggle="dropdown" id="category-menu-trigger">({{ 'header.category.display_children'|trans }})</a>

                {# second level #}
                {# ============ #}

                {# hidden by default #}
                <ul class="dropdown-menu" aria-labelledby="category-menu-trigger">

                    {% for category in category.children %}
                        <li>
                            <a href="{{ path('category', {'slug': category.category.slug}) }}" class="category-name">{{ category.category.name|lower|capitalize }}</a>

                            {# third level #}
                            {# =========== #}

                            <ul>
                                {% for category in category.children %}
                                    <li>
                                        <a href="{{ path('category', {'slug': category.category.slug}) }}" class="category-name">{{ category.category.name|lower|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
