<nav class="main-menu">
    <div class="container">
        <div class="main-menu-wrapper">

            {# Category menu #}
            {# ============= #}

            {# vertical nav (slider: small screens) #}
            <div class="open-slide-panel">
                <i class="fa fa-bars"></i>

                {# visible on small and medium screens #}
                <span class="btn-label hidden-xxs">{{ 'see_categories'|trans }}</span>

                {# visible on very small screens #}
                <span class="btn-label visible-xxs-inline">{{ 'categories'|trans|upper }}</span>
            </div>

            {# horizontal nav (inline: large screens) #}
            <div class="category-wrapper inline">
                {% include ('@App/common/header/_category-menu.html.twig') %}
            </div>

            {# Static links #}
            <ul class="static-links list-inline">

                <li class="static-link">
                    <a href="#" class="anchor-light">
                        <span>{{ 'new_products'|trans }}</span>
                        <i class="fa fa-tags"></i>
                    </a>
                </li>

                <li class="static-link">
                    <a href="{{ path('register_vendor') }}" class="anchor-light">
                        <span>{{ 'professional_vendor_link'|trans }}</span>
                        <i class="fa fa-external-link"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
