{# registration form #}
<form method="post" action="{{ path('register_user') }}">
    <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">

    {# credentials #}
    <input type="email" name="email" placeholder="{{ 'header.register.form.email'|trans }}" required>
    <input type="password" name="password" placeholder="{{ 'header.register.form.password'|trans }}" required>

    {# terms #}
    <label for="header-terms">{{ 'header.register.form.terms'|trans({'%link%': '#'})|raw }}</label>
    <input id="header-terms" type="checkbox" name="terms" value="1" required>

    {# invisible recaptcha #}
    <div class="g-recaptcha" data-sitekey="{{ recaptchaKey() }}" data-callback="recaptchaCallback" data-size="invisible"></div>
    <input type="hidden" name="recaptcha_response" value="__waiting-for-response-token__">

    <button>{{'validate'|trans}}</button>
</form>
