{# user account links #}
{% if is_bof_available and app.user.isVendor %}
    <li><a href="{{ path('profile_vendor_dashboard') }}">{{ 'header.account.menu.vendor_dashboard'|trans }}</a></li>
{% endif %}
<li><a href="{{ path('profile') }}">{{ 'header.account.menu.profile'|trans }}</a></li>
<li><a href="{{ path('profile_orders') }}">{{ 'header.account.menu.orders'|trans }}</a></li>
<li><a href="{{ path('profile_discussions') }}">{{ 'header.account.menu.discussion'|trans }}</a></li>
<li><a href="{{ path('logout', { 'csrf_token': csrf_token('logout_token') }) }}">{{ 'header.account.menu.logout'|trans }}</a></li>
