{% set categories = categoryTree() %}

<div id="searchbar">
    <form action="{{ path('search') }}" class="searchbar" method="get" autocomplete="off">
        <input type="hidden" name="selected_category_id" v-model="selectedCategory.id">

        {# root category selector #}
        <div class="dropdown">
            <a href="#" data-toggle="dropdown">{{ 'search.searchbar.select_category'|trans }}</a>

            {# category list #}
            <ul class="dropdown-menu">

                {# default selection ('all categories') #}
                <li @click.prevent='selectCategory("", "{{'search.searchbar.all_categories'|trans}}")'>
                    {{ 'search.searchbar.all_categories'|trans }}
                </li>

                {# select category on click #}
                {% for category in categories %}
                    <li @click.prevent='selectCategory({{ category.category.id }}, "{{ category.category.name }}")'>
                        {{ category.category.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# display selected category #}
        <div v-text="selectedCategory.name"></div>

        {# search input #}
        <input type="text" name="q" placeholder="{{ 'search.searchbar.search_input_placeholder'|trans }}" v-model="query" @keyup.esc="query = ''">

        {# 'search input' autocomplete suggestions #}
        <ul v-if="productSuggestions.length">
            <li v-for="suggestion in productSuggestions"
                @click.prevent="selectSuggestion(suggestion)"
                v-text="suggestion.name">
            </li>
        </ul>

        {# geoloc #}
        <input type="hidden" name="geo[lat]" v-model="geoFilter.lat">
        <input type="hidden" name="geo[lng]" v-model="geoFilter.lng">

        {# geoloc input #}
        <input type="text" name="geo[label]" v-model="geoFilter.label"
               id="geofilter-input" placeholder="{{ 'search.searchbar.geoloc_input_placeholder'|trans }}">

        {# submit button #}
        <button type="submit">{{ 'search.searchbar.button'|trans }}</button>
    </form>
</div>

<script>
    // used in src/AppBundle/Resources/public/scripts/scoped/header.js
    var vars = {
        header: {
            apiBaseUrl: '{{ apiBaseUrl }}',
            selectedCategoryId: '{{ selectedCategory.id|default('')|e('js') }}',
            selectedCategoryName: '{{ selectedCategory.name|default('')|lower|capitalize|e('js') }}',
            selectedCategoryAllCategories: "{{'all_categories'|trans}}",
        }
    };
</script>
