{% set accountLink = app.user ? path('profile') : path('login') %}
{% set userBasket = basket ?? basket() %}

<div class="header-top">

    {# branding #}
    <div class="branding">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="" class="logo">
            <span>{{ 'header.branding.marketplace_name'|trans }}</span>
        </a>
    </div>

    {# user account #}
    <div class="dropdown">

        {# small screens: display a link to login page#}
        <a href="{{ path('profile') }}" class="hidden-md hidden-lg">{{ 'header.account.label'|trans }}</a>

        {# large screens #}
        <a href="#" data-toggle="dropdown" class="hidden-xs hidden-sm">{{ 'header.account.label'|trans }}</a>
        <div class="dropdown-menu">
            {% include('@App/common/header/_pop_account.html.twig') %}
        </div>
    </div>

    {# basket #}
    <div class="basket">

        {# label #}
        <span>{{ 'header.basket.label'|trans }}</span>

        {# number of items in basket #}
        {% if userBasket|default and userBasket.totalQuantity > 0 %}
            <span>({{ userBasket.totalQuantity }})</span>
        {% endif %}

        {# content #}
        {% include('@App/common/header/_pop_basket.html.twig') %}
    </div>
</div>
