{% set accountLink = app.user ? path('profile') : path('login') %}
{% set userBasket = basket ?? basket() %}

<div class="header-top">

    {# branding #}
    <div class="branding">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" alt="" class="logo">
            <span>{{ 'header.branding.marketplace_name'|trans }}</span>
        </a>
    </div>

    {% if app.user %}

        {# user is logged in #}
        <div class="dropdown">

            {# small screens: display a link to profile page #}
            <a href="{{ path('profile') }}" class="d-md-none">{{ 'header.account.label'|trans }}</a>

            {# large screens #}
            <a href="#" role="button" data-toggle="dropdown" id="user-menu-trigger" class="d-none d-md-block" aria-haspopup="true" aria-expanded="false">{{ 'header.account.label'|trans }}</a>
            <div class="dropdown-menu" aria-labelledby="user-menu-trigger">
                {% include('@App/common/header/_pop_account.html.twig') %}
            </div>
        </div>

    {% else %}

        {# login form #}
        <div class="dropdown">

            {# small screens: display a link to login page #}
            <a href="{{ path('login') }}" class="d-md-none">{{ 'header.login.label'|trans }}</a>

            {# large screens #}
            <a href="#" role="button" data-toggle="dropdown" id="login-menu-trigger" class="d-none d-md-block" aria-haspopup="true" aria-expanded="false">{{ 'header.login.label'|trans }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login-menu-trigger">
                {% include('@App/common/header/_pop_login.html.twig') %}
            </div>
        </div>


        {# registration form #}
        <div class="dropdown">

            {# small screens: display a link to login page #}
            <a href="{{ path('login') }}" class="d-md-none">{{ 'header.register.label'|trans }}</a>

            {# large screens #}
            <a href="#" role="button" data-toggle="dropdown" id="register-menu-trigger" class="d-none d-md-block" aria-haspopup="true" aria-expanded="false">{{ 'header.register.label'|trans }}</a>
            <div class="dropdown-menu" aria-labelledby="register-menu-trigger">
                {% include('@App/common/header/_pop_register.html.twig') %}
            </div>
        </div>

    {% endif %}

    {# basket #}
    <div class="basket">

        {# label #}
        <span>{{ 'header.basket.label'|trans }}</span>

        {# number of items in basket #}
        {% if userBasket|default and userBasket.totalQuantity > 0 %}
            <span>({{ userBasket.totalQuantity }})</span>
        {% endif %}

        {# content #}
        {% include('@App/common/header/_pop_basket.html.twig') %}
    </div>
</div>
