{% set user = currentUser() %}
{% set basket = basket() %}
<header>
    <nav id="header-menu">
        <div class="container-fluid">
            <div class="row">
                <div id="logo" class="col-md-2 col-sm-6">
                    <a href="{{ path('home') }}">
                        <img alt="Company name" src="{{ asset('images/legacy/votre-logo-ici.png') }}">
                    </a>
                </div>

                {# searchbar #}
                <div id="search" class="col-md-4 col-sm-6">
                    {{ include('legacy/common/header/search-bar.html.twig') }}
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="generic-info">
                        <div class="generic-info-picto pull-left">
                            <span class="icon icon-phone"> </span>
                        </div>
                        <div class="generic-info-text">
                            <span class="info-text title">
                                Assistance et conseil</span><br />
                            <span class="info-text title text-blue">0800 97 55 55 (gratuit)</span>
                        </div>
                    </div>
                </div>

                {# account #}
                <div class="col-md-2 col-sm-4">
                    <div class="generic-info">
                        <div class="generic-info-picto pull-left">
                            <span class="icon icon-avatar"> </span>
                        </div>

                        <div class="generic-info-text">
                            <a class="dropdown-toggle" id="dropdown-user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="title">Mon compte</span><br />

                                {% if user %}
                                    <span class="title text-grey">Bonjour {{ user.firstname }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu generic-info-detail" aria-labelledby="dropdownMenuLogin">
                                {% if user %}
                                    {{ include('legacy/common/header/account-popup.html.twig') }}
                                {% else %}
                                    {{ include('legacy/common/header/login-popup.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Basket #}
                <div class="col-md-2 col-sm-4">
                    <div id="header-panier" class="dropdown generic-info">
                        <a class="dropdown-toggle" id="dropdown-menu-panier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            <div class="generic-info-picto pull-left">
                                <span class="icon icon-cart" aria-hidden="true"></span>
                            </div>
                            <div class="generic-info-text">
                                <span class="info-text title">Panier</span><br />
                                {% if basket %}<span class="info-text title blue-text">{{ basket.totalQuantity }} article(s)</span>{% endif %}
                            </div>
                        </a>

                        <div id="monpanier" class="dropdown-menu generic-info-detail" aria-labelledby="dropdown-menu-panier">
                            <h1>Mon panier</h1>
                            {% if basket %}
                                {% if (basket.totalQuantity != 0) %}
                                    <ul>
                                        {% for item in basket.companyGroups.0.shippingGroups.0.items %}
                                            <li>
                                                <span class="title">{{ item.productName }}</span><br />
                                                <span class="title text-grey">{{ item.quantity }} x</span>
                                                <span class="title">{{ item.individualPrice }}€</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="spacer"></div>
                                    <form action="{{ path("clean_basket") }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token("clean") }}" />
                                        <button class="btn btn-primary" type="submit">Vider mon panier</button>
                                    </form>
                                    <a href="{{ path('basket') }}" class="btn btn-default" type="submit">Voir mon panier</a>
                                {% else %}
                                    <p>Votre panier est vide pour le moment.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
