<div class="form-group">
    <label for="">Civilité</label>
    <div class="radio">
        <label>
            <input type="radio" name="user[addresses][billing][37]"  value="4" {% if user.billingAddress.37==4 %} checked {% endif %}><span></span>
            Monsieur
        </label>
        <label>
            <input type="radio" name="user[addresses][billing][37]"  value="3" {% if user.billingAddress.37==3 %} checked {% endif %}><span></span>
            Madame
        </label>
    </div>
</div>
<div class="form-group">
    <label for="firstname">Prénom <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][firstname]" type="text" class="form-control" id="firstname" value="{{ user.billingAddress.firstname }}" required>
</div>
<div class="form-group">
    <label for="name">Nom <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][lastname]" type="text" class="form-control" id="name" value="{{ user.billingAddress.lastname }}" required>
</div>
<div class="form-group">
    <label for="company">Société</label>
    <input name="user[addresses][billing][39]" type="text" class="form-control" id="company" value="{{ user.billingAddress.39 }}">
</div>
<div class="form-group">
    <label for="telephone">Téléphone <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][phone]" type="text" class="form-control" id="telephone" value="{{ user.billingAddress.phone }}" required>
</div>
<div class="form-group">
    <label for="address">Adresse <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][address]" type="text" class="form-control" id="address" value="{{ user.billingAddress.address }}" required>
</div>
<div class="form-group">
    <label for="address-2">Complément adresse</label>
    <input name="user[addresses][billing][address_2]" type="text" class="form-control" id="address-2" value="{{ user.billingAddress.address_2 }}">
</div>
<div class="form-group">
    <label for="zipcode">Code postal <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][zipcode]" type="text" class="form-control" id="zipcode" value="{{ user.billingAddress.zipcode }}" required>
</div>
<div class="form-group">
    <label for="city">Ville <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][city]" type="text" class="form-control" id="city" value="{{ user.billingAddress.city }}" required>
</div>
<div class="form-group">
    <label for="country">Pays <sup class="text-blue">*</sup></label>
    <input name="user[addresses][billing][country]" type="text" class="form-control" id="country" value="{{ user.billingAddress.country }}" required>
</div>
