{% extends '@App/search/search.html.twig' %}

{% block searchHeader %}
    <h1>{{ company.name }}</h1>
    <p>{{ company.description }}</p>
    <img src="{{ company.image|imageUrl }}">
    <h2>{{ 'company_average_rating'|trans }}</h2>

    {% for i in 1..5 %}
        {% if i <= company.averageRating %}
            <i class="glyphicon glyphicon-star"></i>
        {% else %}
            <i class="glyphicon glyphicon-star-empty"></i>
        {% endif %}
    {% endfor %}

    {% if reviews|length > 0 %}
        <div class="row">
            <div class="comments col-xs-12 col-md-6">
                {% for review in reviews %}
                    <div class="review">
                        <p class="review-ratings">
                        <span class="rank">
                            {% for i in 1..5 %}
                                {% if i <= review.rating %}
                                    <i class="glyphicon glyphicon-star"></i>
                                {% else %}
                                    <i class="glyphicon glyphicon-star-empty"></i>
                                {% endif %}
                            {% endfor %}
                        </span>
                        </p>
                        <p class="review-author">{{ review.author.name }}</p>
                        <p class="review-message">{{ review.message|escape }}</p>
                        <p class="review-date">{{ review.postedAt|date }}</p>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    {% if canUserReviewCompany %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form name="add-reviews" method="post" action="{{ path('create_company_review') }}">
                    <input type="hidden" name="redirect_url" value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                    <input type="hidden" name="company_id" value="{{ company.id }}">
                    <div>
                        <label for="review-rate" class="">{{ 'rating'|trans|capitalize }}</label>
                        <input id="review-rate" name="rating" class="js-rating form-control hide" value="3" />
                    </div>
                    <div>
                        <label for="review-message" class="">{{ 'message'|trans|capitalize }}</label>
                        <textarea id="review-message" name="message" class="form-control" rows="5" cols="72"></textarea>
                    </div>
                    <input type="submit" class="btn" name="dispatch[discussion.add]" value="{{ 'send'|trans|upper }}"/>
                </form>
            </div>
        </div>

        <br>
    {% endif %}

{% endblock %}
