{% extends 'layout.html.twig' %}
{% set user = app.user.wizaplaceUser %}

{% block body %}

    {# steps breadcrumb #}
    {% include 'checkout/steps.html.twig' with {step: 4} %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-offset-2 col-lg-5">
                <h1 class="main-title">Mode de paiement</h1>
                <form method="post" action="{{ path('checkout_submit_payment') }}">
                    <div class="panel">
                        <ul>
                            {% for payment in payments %}
                                <li class="radio">
                                    <label>
                                        <input type="radio" name="paymentId" value="{{ payment.id }}" {% if loop.first %}checked{% endif %}><span></span>
                                        {{ payment.name }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                        <button type="submit" class="btn btn-primary">Procéder au paiement</button>
                    </div>
                </form>

                <div class="spacer"></div>

                <h1 class="main-title">Mode de livraison</h1>

                <div class="spacer"></div>

                <h1 class="main-title">Adresse de facturation</h1>
                Civilité :
                {% if user.billingAddress.37 == 4 %}
                    Monsieur
                {% elseif user.billingAddress.37 == 3 %}
                    Madame
                {% endif %}
                <br />
                Prénom : {{ user.billingAddress.firstname }}<br />
                Nom : {{ user.billingAddress.lastname }} <br />
                Société : {{ user.billingAddress.39 }}<br />
                Téléphone :{{ user.billingAddress.phone }} <br />
                Adresse : {{ user.billingAddress.address }}<br />
                Complément adresse :{{ user.billingAddress.address_2 }} <br />
                Code postal : {{ user.billingAddress.zipcode }}<br />
                Ville : {{ user.billingAddress.city }}<br />
                Pays : {{ user.billingAddress.country }}<br />
                <a class="btn btn-default" href="{{ path('checkout_addresses') }}">Modifier</a>

                <div class="spacer"></div>
                <h1 class="main-title">Adresse de livraison</h1>

                Civilité :
                {% if user.shippingAddress.38 == 4 %}
                    Monsieur
                {% elseif user.shippingAddress.38 == 3 %}
                    Madame
                {% endif %}
                <br />
                Prénom : {{ user.shippingAddress.firstname }}<br />
                Nom : {{ user.shippingAddress.lastname }} <br />
                Société : {{ user.shippingAddress.40 }}<br />
                Téléphone :{{ user.shippingAddress.phone }} <br />
                Adresse : {{ user.shippingAddress.address }}<br />
                Complément adresse :{{ user.shippingAddress.address_2 }} <br />
                Code postal : {{ user.shippingAddress.zipcode }}<br />
                Ville : {{ user.shippingAddress.city }}<br />
                Pays : {{ user.shippingAddress.country }}<br />
                <a class="btn btn-default" href="{{ path('checkout_addresses') }}">Modifier</a>
            </div>

            <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-lg-offset-1 col-lg-4">
                {% include 'checkout/basket-summary.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
