{# gender #}
<div class="form-group">
    <p class="required">{{ 'gender'|trans }}</p>

    <label class="radio">
        <input type="radio" name="user[addresses][shipping][38]" value="4" {% if user.shippingAddress.38 == 4 %} checked {% endif %}>
        <span class="input-label">{{ 'mr'|trans }}</span>
    </label>

    <label class="radio">
        <input type="radio" name="user[addresses][shipping][38]" value="3" {% if user.shippingAddress.38 == 3 %} checked {% endif %}>
        <span class="input-label">{{ 'mrs'|trans }}</span>
    </label>
</div>

{# first name #}
<div class="form-group">
    <label for="firstname" class="required">{{ 'firstname'|trans }}</label>
    <input id="firstname" class="form-control" name="user[addresses][shipping][firstname]" value="{{ user.shippingAddress.firstname }}">
</div>

{# last name #}
<div class="form-group">
    <label for="lastname" class="required">{{ 'lastname'|trans }}</label>
    <input id="lastname" class="form-control" name="user[addresses][shipping][lastname]" value="{{ user.shippingAddress.lastname }}">
</div>

{# user's company #}
<div class="form-group">
    <label for="company">{{ 'company'|trans }}</label>
    <input id="company" class="form-control" name="user[addresses][shipping][40]" value="{{ user.shippingAddress.40 }}">
</div>

{# phone number #}
<div class="form-group">
    <label for="telephone" class="required">{{ 'phone_number'|trans }}</label>
    <input id="telephone" class="form-control" name="user[addresses][shipping][phone]" value="{{ user.shippingAddress.phone }}">
</div>

{# address #}
<div class="form-group">
    <label for="address" class="required">{{ 'address'|trans }}</label>
    <input id="address" class="form-control" name="user[addresses][shipping][address]" value="{{ user.shippingAddress.address }}">
</div>

{# address 2 #}
<div class="form-group">
    <label for="address2">{{ 'address2'|trans }}</label>
    <input id="address2" class="form-control" name="user[addresses][shipping][address_2]" value="{{ user.shippingAddress.address_2 }}">
</div>

{# zipcode #}
<div class="form-group">
    <label for="zipcode" class="required">{{ 'zipcode'|trans }}</label>
    <input id="zipcode" class="form-control" name="user[addresses][shipping][zipcode]" value="{{ user.shippingAddress.zipcode }}">
</div>

{# city #}
<div class="form-group">
    <label for="city" class="required">{{ 'city'|trans }}</label>
    <input id="city" class="form-control" name="user[addresses][shipping][city]" value="{{ user.shippingAddress.city }}">
</div>

{# country #}
<div class="form-group">
    <label for="country" class="required">{{ 'country'|trans }}</label>
    <input id="country" class="form-control" name="user[addresses][shipping][country]" value="{{ user.shippingAddress.country }}">
</div>
