<article class="product" v-for="product in products">

    {# display a promo label if need be #}
    <span v-if="product.crossedOutPrice !== null">{{ 'product.badge.promo'|trans }}</span>

    {# show that the product is in user's favorites #}
    <span v-if="inFavorites(product)">{{ 'product.badge.favorite'|trans }}</span>

    {# clickable part of the product card #}
    <a :href="productUrl(product)" title="{{ 'product.action.see_product'|trans }}">

        {# product image #}
        <img :src="imageUrl(product, 300)" :alt="product.name">

        {# product name #}
        <div v-text="product.name"></div>

        {# product description #}
        <div v-text="product.subtitle"></div>
    </a>

    {# crossed out price (if needed) #}
    <div v-if="product.crossedOutPrice"><s>${product.crossedOutPrice|price} {{ currencySign }}</s></div>

    {# regular price #}
    <div>${product.minimumPrice|price} {{ currencySign }}</div>

    {# product can be added to basket or favorites if it has only one declination #}
    <button v-if="product.declinationCount < 2" class="js-add-to-basket" title="{{ 'product.action.add_to_basket'|trans }}"

            {# store product id for later use #}
            :data-id="product.id"

            @click="addToBasket(product)">

        {# button label #}
        {{ 'product.action.add_to_basket'|trans }}
    </button>

    {# "remove from" / "add to" favorites #}
    {% if app.user %}
        <a href="#" v-if="inFavorites(product)" @click.prevent="removeFromFavorites(product)">{{ 'product.favorite.remove'|trans }}</a>
        <a href="#" v-else-if="product.declinationCount < 2" @click.prevent="addToFavorites(product)">{{ 'product.favorite.add'|trans }}</a>
    {% endif %}
</article>
