<article class="product">

    {# display a promo label if need be #}
    {% if product.crossedOutPrice %}
        <span>{{ 'product.badge.promo'|trans }}</span>
    {% endif %}

    {# clickable part of the product card #}
    <a href="{{ product|productUrl }}" title="{{ 'product.action.see_product'|trans }}">

        {# product image #}
        <img src="{{ product.mainImage|imageUrl(350, 350) }}" alt="{{ product.name }}">

        {# product name #}
        <div>{{ product.name }}</div>

        {# product description #}
        <div>{{ product.subtitle }}</div>
    </a>

    {# show crossed out price if need be... #}
    {% if product.crossedOutPrice %}

        {# crossed out price #}
        <div><s>{{ product.crossedOutPrice|price }}</s></div>

        {# regular price #}
        <div>{{ product.minimumPrice|price }}</div>

    {# ...or show only regular price #}
    {% else %}
        <div>{{ product.minimumPrice|price }}</div>
    {% endif %}

    {# product can be added to basket or favorites if it has only one declination #}
    {% if product.declinationCount < 2 %}
        <button class="js-add-to-basket" title="{{ 'product.action.add_to_basket'|trans }}"

                {# store product id for later use #}
                data-id="{{ product.id }}"

                {# store data to be displayed in confirmation modal #}
                data-name="{{ product.name|e('html_attr') }}"
                data-price="{{ product.minimumPrice }}"
                data-image="{{ product.mainImage|imageUrl(120, 120) }}">

            {# button label #}
            {{ 'product.action.add_to_basket'|trans }}
        </button>
    {% endif %}
</article>
