{% set categories = categoryTree() %}

<ul class="category-menu">
    {% for category in categories %}

        <li class="category">

            {% if category.children %}

                <span class="category-name">{{ category.category.name }}<i class="fa fa-plus hidden-md hidden-lg"></i></span>

                <div class="wrapper">
                    <ul class="category-sub-menu">

                        {% for category in category.children %}

                            <li class="category">
                                <a href="{{ path('category', {'slug': category.category.slug}) }}" class="category-name">{{ category.category.name }}</a>
                                <ul class="category-sub-menu">

                                    {% for category in category.children %}

                                    <li class="category">
                                        {# last level is a leaf #}
                                        <a href="{{ path('category', {'slug': category.category.slug}) }}" class="category-name">{{ category.category.name }}</a>
                                    </li>

                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {# if this element is a tree leaf (hasn't got any children), display a link to the search page, filtered by this category #}
            {% else %}

                <a href="{{ path('category', {'slug': category.category.slug}) }}" class="category-name">{{ category.category.name }}</a>

            {% endif %}
        </li>
    {% endfor %}
</ul>
