{# show user basket if not empty #}
{% if userBasket|default and userBasket.totalQuantity > 0 %}

    <div class="content popunder-basket">

        {# basket items groupped by vendor companies #}
        {% for company in userBasket.companyGroups %}

            {# basket items groupped by shipping #}
            {% for shipping in company.shippingGroups %}

                {% for item in shipping.items %}

                    <article class="product">
                        <div class="image-block">

                            {# main image #}
                            <div class="image">
                                {% if item.mainImage %}

                                    <img src="{{ item.mainImage.id|imageUrl(60) }}" alt="{{ item.productName }}" style="width: 60px;">

                                {% else %}

                                    <div class="no-image">{{ 'no_image'|trans }}</div>

                                {% endif %}
                            </div>
                        </div>

                        <div class="text-block">
                            {# product details #}
                            <div class="name ellipsis">{{ item.productName }}</div>

                            {# product quantity (displayed only if > 1) #}
                            {% if item.quantity > 1 %}
                                <div class="quantity">(x {{ item.quantity }})</div>
                            {% endif %}

                            {# price #}
                            <div class="price-block">
                                {% if item.crossedOutPrice|default %}
                                    <div class="old-price">{{ item.crossedOutPrice|price }}&nbsp;{{ 'including_taxes'|trans }}</div>
                                {% endif %}
                                <div class="price">{{ item.individualPrice|price }}&nbsp;{{ 'including_taxes'|trans }}</div>
                            </div>

                            {# remove product from basket #}
                            <a href="{{ path('basket_remove_product', { 'declinationId': item.declinationId }) }}" class="remove-from-basket has-right-icon"><span>{{ 'delete'|trans }}</span><i class="fa fa-trash-o"></i></a>
                        </div>
                    </article>

                {% endfor %}
            {% endfor %}
        {% endfor %}

        <div class="total">
            <span class="total-label">{{ 'total'|trans|upper }}</span>
            <span class="total-amount">{{ userBasket.total|price }}<span class="tax-detail">&nbsp;{{ 'including_taxes'|trans }}</span> </span>
        </div>

        <ul class="actions list-unstyled">
            <li class="show-basket">
                <a href="{{ path('basket') }}" class="btn btn-default">
                    <span>{{ 'see_my_basket'|trans }}</span>
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>

            <li class="order">
                <a href="{{ path('checkout_login') }}" class="btn btn-primary">
                    <span>{{ 'place_order'|trans }}</span>
                    <i class="fa fa-check"></i>
                </a>
            </li>
        </ul>
    </div>

{# empty basket #}
{% else %}
    <div class="content">{{ 'your_basket_is_empty'|trans }}</div>
{% endif %}
