{% if currentUser() %}

    {# user account links #}
    <div class="content">
        <ul class="list-unstyled profile-links">
            <li><a href="{{ path('profile') }}"><i class="fa fa-user-circle-o"></i>Mon profil</a></li>
            <li><a href="{{ path('profile_orders') }}"><i class="fa fa-shopping-basket"></i>Mes achats</a></li>
            <li><a href="{{ path('profile_messages') }}"><i class="fa fa-envelope-open-o"></i>Ma messagerie</a></li>
            <li><a href="{{ path('logout', { 'csrf_token': csrf_token('logout_token') }) }}" class="btn btn-default logout">Me déconnecter<i class="fa fa-times"></i></a></li>
        </ul>
    </div>

{% else %}

    {# login form #}
    <div class="content popunder-login" id="popunder-login">
        <p class="title">Me connecter</p>
        <form method="post" action="{{ path('login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('login_token') }}">
            <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">

            {# email #}
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email..." required>
            </div>

            {# password #}
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe..." required>
                <a href="#password-reset-modal" data-toggle="modal" rel="nofollow" class="forgotten-password">Mot de passe oublié</a>
            </div>

            {# submit login form #}
            <button type="submit" class="btn btn-primary validate">
                <span>Valider</span>
                <i class="fa fa-check"></i></button>
            </button>
        </form>

        {# switch popunders (show register form) #}
        <button class="switch-popunder btn btn-default">
            <span>Créer mon compte</span>
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>

    {# register form #}
    <div class="content popunder-register hidden" id="popunder-register">
        <p class="title">Créer mon compte</p>
        <form method="post" action="{{ path('register') }}">
            <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">

            {# email #}
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email..." required>
            </div>

            {# password #}
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe..." required>
            </div>

            {# terms #}
            <div class="form-group">
                <label class="checkbox terms">
                    <input type="checkbox" name="terms" value="1" required>
                    <span class="input-label">J'accepte les <a href="#">Conditions Générales d'Utilisation</a>*</span>
                </label>
            </div>

            {# invisible reCaptcha button #}
            <button type="button" class="btn btn-primary trigger-recaptcha validate"
                    id="g-recaptcha-header"
                    data-sitekey="{{ recaptchaKey() }}"
            >

                <span>Valider</span>
                <i class="fa fa-check"></i></button>
            </button>

            <button type="submit" class="hidden"></button>
        </form>

        {# switch popunders (show login form) #}
        <button class="switch-popunder btn btn-default">
            <span>Me connecter</span>
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>

{% endif %}

{% block scripts %}
    <script>
        // switch between login popunder and register popunder
        $(".switch-popunder").on("click", function () {
            $(this).closest(".quick-access").find(".content").toggleClass("hidden");
        });
    </script>
{% endblock %}
