{% if currentUser() %}

    {# user account links #}
    <div class="content">

    </div>

{% else %}

    {# login form #}
    <div class="content pop-content popunder-login" id="popunder-login">
        <p class="title">Me connecter</p>
        <form method="post" action="{{ path('login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token('login_token') }}">
            <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">

            {# email #}
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email...">
            </div>

            {# password #}
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe...">
                <a href="#" rel="nofollow" class="forgotten-password">Mot de passe oublié</a>
            </div>

            {# submit login form #}
            <button type="submit" class="btn btn-primary">Valider<i class="fa fa-check"></i></button></button>
        </form>
        
        {# switch popunders (show register form) #}
        <button class="switch-popunder btn btn-default">Créer mon compte<i class="fa fa-chevron-circle-right"></i></button>
    </div>

    {# register form #}
    <div class="content pop-content popunder-register hidden" id="popunder-register">
        <p class="title">Créer mon compte</p>
        <form method="post" action="{{ path('register') }}">
            <input type="hidden" name="redirect_url" value="{{ app.request.uri }}">

            {# email #}
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email...">
            </div>

            {# password #}
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Mot de passe...">
            </div>

            {# submit register form #}
            <button type="submit" class="btn btn-primary">Valider<i class="fa fa-check"></i></button>
        </form>

        {# switch popunders (show login form) #}
        <button class="switch-popunder btn btn-default">Me connecter<i class="fa fa-chevron-circle-right"></i></button>
    </div>

{% endif %}

{% block scripts %}
    <script>
        // switch between login popunder and register popunder
        $(".switch-popunder").on("click", function() {
            $(this).closest(".quick-access").find(".content").toggleClass("hidden");
        });

    </script>
{% endblock %}
