{% set categories = categoryTree() %}

<div id="search-bar" class="search-bar" v-cloak>
    <div class="container">
        <div class="wrapper">

            <form action="{{ path('search') }}" method="get" autocomplete="off">
                <input type="hidden" name="selected_category_id" v-model="selectedCategory.id">

                {# keyword and category query #}
                <div class="group">

                    {# category picker (display only root categories) #}
                    <div class="category-picker form-control" title="Sélectionnez une catégorie">
                        <i class="picker-icon fa fa-list-alt"></i>
                        <span class="picker-label" v-text="selectedCategory.name"></span>
                        <i class="picker-arrow fa fa-caret-down"></i>

                        {# categories #}
                        <div class="categories">
                            <ul class="content">
                                {% for category in categories %}
                                    <li class="category"
                                        :class="{ 'is-selected': selectedCategory.id == '{{ category.category.id }}' }"
                                        @click='selectCategory({{ category.category.id }}, "{{ category.category.name|lower|capitalize }}")'>
                                        {{ category.category.name|lower|capitalize }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {# keyword input #}
                    <div class="keyword-input">
                        <input class="form-control" type="text" name="q" placeholder="Rechercher..." v-model="query" @keyup.esc="query = ''">

                        {# auto-complete suggestions #}
                        <div class="product-suggestions">
                            <ul class="content" v-if="productSuggestions.length">
                                <li class="suggestion"
                                    v-for="suggestion in productSuggestions"
                                    @click.prevent="selectSuggestion(suggestion)"
                                    v-text="suggestion.name"
                                    tabindex="0">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {# geolocation #}
                <div class="group">

                    {# forward the geoloc to search page #}
                    <input type="hidden" name="geo[lat]" v-model="geoFilter.lat">
                    <input type="hidden" name="geo[lng]" v-model="geoFilter.lng">

                    {# city, department #}
                    <input type="text" name="geo[label]" v-model="geoFilter.label" class="form-control" id="geofilter-label" placeholder="Ville, département...">

                    <em>ou</em>

                    {# geolocalization button #}
                    <button type="button" class="btn btn-primary" @click="geoLocateMe">
                        <i class="fa fa-map-marker"></i>
                        <span class="hidden-xxs">Me localiser</span>
                    </button>
                </div>

                {# submit button #}
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                    <span class="hidden-xxs">Rechercher</span>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {

        let search = new SearchClient('{{ apiBaseUrl }}catalog/search/products', '{{ apiBaseUrl }}catalog/search/products/autocomplete');
        let urlParameters = search.restoreSearchFromUrl(); // used in search page

        let vm = new Vue({
            el: '#search-bar',

            data: {
                selectedCategory: {
                    id: '{{ selectedCategory.id|default('')|e('js') }}' || "",
                    name: '{{ selectedCategory.name|default('')|lower|capitalize|e('js') }}' || "Toutes les catégories"
                },
                productSuggestions: [],
                query: urlParameters.query || '',
                geoFilter: urlParameters.geoFilter || {},
            },

            methods: {
                initCategorySelection: function() {
                    // hide list when user has clicked somewhere else
                    $(document).on('click', function(e) {

                        // doesn't hide if user has clicked on a listed category
                        let $target = $(e.target);

                        if($target.closest('.category-picker').length) {
                            return;
                        }

                        $('.category-picker.is-active').removeClass('is-active');
                    });
                },

                selectCategory: function(categoryId, categoryName) {
                    this.selectedCategory = {
                        id: categoryId,
                        name: categoryName
                    }
                },

                // _.debounce is a function provided by lodash
                // to limit how often a particularly expensive operation can be run.
                productAutocomplete: _.debounce(function() {

                    let self = this;

                    search.autocomplete(this.query, function (results) {

                        // don't display suggestions if there is only one and that already matches user input
                        if(results.length === 1 && results[0].name === self.query) {
                            self.productSuggestions = [];
                            return;
                        }

                        // fill suggestions
                        self.productSuggestions = results;
                    });
                },
                    // how long to wait for user to stop typing (in ms)
                    200
                ),

                // watch user query input to display corresponding product suggestions (auto-completion)
                initProductAutocomplete: function() {
                    let self = this;
                    let $queryInput = $('[name="q"]');
                    let $queryInputGroup = $('.product-suggestions');

                    // show suggestions when:
                    // - user has typed at least 3 characters
                    // - there are three characters and user clicks in the input field
                    $queryInput.on('keyup click', function() {

                        if (self.query.length >= 3) {
                            $queryInputGroup.removeClass('hidden');
                            self.productAutocomplete();

                        } else {
                            // don't fill/show suggestions if user input isn't specific enough
                            self.productSuggestions = [];
                        }
                    });

                    // hide suggestions when user has clicked somewhere else
                    $(document).on('click', function(e) {

                        // doesn't hide if user has clicked on a suggestion or in the input field
                        let $target = $(e.target);

                        if ($target.hasClass('suggestion') || $target[0] === $queryInput[0]) {
                            return;
                        }

                        $queryInputGroup.addClass('hidden');
                    });

                    // accessibility (keyboard usage)
                    // ==============================

                    // highlight first suggestion
                    $queryInput.on('focus', function() {

                        // If conditions are met, some suggestions are displayed
                        // so now user can use down arrow key to highlight the first one
                        $(this).on('keydown', function(e) {
                            if(e.which === 40) { // 'down arrow' key
                                $('.suggestion').first().focus();

                                // add event listeners on suggestions for keyboard navigation
                                // called only here to avoid performance issues
                                self.keyboardNav();
                            }
                        })
                    });
                },

                // navigate through a list with keyboard
                keyboardNav: function() {
                    let self = this;
                    let $queryInput = $('[name="q"]');
                    let $queryInputGroup = $('.product-suggestions');

                    // behaviour when focus is on a suggestion
                    $('.suggestion').on('keydown', function(e) {

                        // if user pressed enter or space, select the suggestion
                        if(e.which === 13 || e.which === 32) {
                            self.query = $(this).text();
                            $queryInput.focus();
                            return false; // prevent page to scroll if space key was pressed or form to be submitted if enter key was pressed
                        }

                        // if user pressed down arrow key, focus next suggestion (loop if there is none)
                        if(e.which === 40) {
                            $(this).next().focus();
                            return false; // prevent page to scroll down
                        }

                        // if user pressed up arrow key, focus previous suggestion (loop if there is none)
                        if(e.which === 38) {
                            $(this).prev().focus();
                            return false; // prevent page to scroll up
                        }

                        // if user press tab key while on last suggestion, hide suggestions
                        let $lastSuggestion = $(this).is(':last-of-type');

                        if(e.which === 9 && $lastSuggestion) {
                            $queryInputGroup.addClass('hidden');
                        }

                        // if user pressed esc key, focus (and reset) input field
                        if(e.which === 27) {
                            $queryInput.focus();
                        }
                    });
                },

                selectSuggestion: function(suggestion) {

                    // update 'query' v-model and add suggestion into query input box
                    this.query = suggestion.name;

                    // hide suggestions
                    this.productSuggestions = [];

                    // focus back on input field
                    $('[name="q"]').focus();
                },

                geoLocateMe: function() {

                    if (! 'geolocation' in navigator) {
                        notification.createAlert("Géolocalisation impossible.", "danger");
                        return;
                    }

                    navigator.geolocation.getCurrentPosition(function(position) {

                        vm.geoFilter = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                            label: "Autour de moi"
                        };

                        // success message
                        notification.createAlert('Rechercher "Autour de moi".', "success");

                    }, function (error) {

                        switch(error.code) {
                            case error.PERMISSION_DENIED:
                                notification.createAlert("Géolocalisation refusée.", "danger");
                                break;
                            default:
                                notification.createAlert("Erreur de géolocalisation.", "danger");
                                break;
                        }
                    });
                },

                // called when the user autocompletes a place with Google Maps
                geolocAutocompleted: function () {

                    let place = this.googleMapsAutocomplete.getPlace();

                    if (! place.geometry) {

                        // user entered a place that was not suggested and pressed Enter, or the request failed
                        this.geoFilter = {};
                        return;
                    }

                    this.geoFilter = {
                        lat: place.geometry.location.lat(),
                        lng: place.geometry.location.lng(),
                        label: place.name
                    };
                },
            },

            mounted: function () {

                // initialize the Google Maps autocomplete in search bar
                let labelInput = document.getElementById('geofilter-label');
                this.googleMapsAutocomplete = new google.maps.places.Autocomplete(labelInput);
                this.googleMapsAutocomplete.addListener('place_changed', this.geolocAutocompleted);

                // input field behaviour
                this.initProductAutocomplete();

                // category list selection behaviour
                this.initCategorySelection();
            }
        });


        // DOM behaviour
        // =============

        // toggle category picker
        $('.category-picker').on('click', function() {
            $(this).toggleClass('is-active');
        });
    });
</script>
