{% extends '@App/layout-profile.html.twig' %}

{% block profile_content %}
    <label>{{ 'profile.favorites.label' | trans }}</label>
    <div class="spacer"></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'profile.favorites.header.name' | trans }}</th>
                <th>{{ 'profile.favorites.header.companyName' | trans }}</th>
                <th>{{ 'profile.favorites.header.priceWithTaxes' | trans }}</th>
                <th>{{ 'profile.favorites.header.action' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for favorite in favorites|default %}
                <tr>
                    <td>{{ favorite.name }}</td>
                    <td>{{ favorite.company.name }}</td>
                    <td>{{ favorite.priceWithTaxes }}</td>
                    <td><a href="{{ path('product', {'categoryPath': favorite.categoryPath[0].slug, 'slug': favorite.slug}) }}">{{ 'profile.favorites.body.see_product' | trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
