<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N° Cde</th>
                <th>Date</th>
                <th>Transporteur</th>
                <th>Total</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders|default %}
            <tr>
                <td><a href="{{ path('order', {'orderId': order.id}) }}" class="text-blue">{{ order.id }}</a></td>
                <td>{{ order.timestamp.format('d-m-y') }}</td>
                <td>{{ order.shippingName }}</td>
                <td>{{ order.total|price }}&nbsp;TTC</td>
                <td>
                    {% if  order.status == "STANDBY_BILLING" %}Attente de paiement
                        {% elseif order.status =="STANDBY_VENDOR" %}Validation vendeur
                        {% elseif order.status =="PROCESSING_SHIPPING" %}Envoi en cours
                        {% elseif order.status =="PROCESSED" %}Traitée
                        {% elseif order.status =="COMPLETED" %}Terminée
                        {% elseif order.status =="BILLING_FAILED" %}Paiement échoué
                        {% elseif order.status =="VENDOR_DECLINED" %}Refusée par le vendeur
                        {% elseif order.status =="STANDBY_SUPPLYING" %}Attente d'approvisionnement
                        {% elseif order.status =="UNPAID" %}Impayée
                        {% elseif order.status =="REFUNDED" %}Remboursée
                        {% elseif order.status =="CANCELED" %}Annulée
                        {% elseif order.status =="INCOMPLETED" %}Incomplète
                        {% elseif order.status =="PARENT_ORDER" %}Parente
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
