{% set currentRoute = app.request.get('_route') %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'order_table.header.command_id' | trans }}</th>
                <th>{{ 'order_table.header.date' | trans }}</th>
                <th>{{ 'order_table.header.shipping_name' | trans }}</th>
                <th>{{ 'order_table.header.total' | trans }}</th>
                {% if currentRoute == 'profile_orders' %}
                    <th>{{ 'order_table.header.status' | trans }}</th>
                {% elseif currentRoute == 'profile_after_sale_service' %}
                    <th>{{ 'order_table.header.start_discussion' | trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for order in orders|default %}
            <tr>
                <td><a href="{{ path('order', {'orderId': order.id}) }}" class="text-blue">{{ order.id }}</a></td>
                <td>{{ order.timestamp.format('d-m-y') }}</td>
                <td>{{ order.shippingName }}</td>
                <td>{{ 'order_table.body.total' | trans({'%price%': order.total|price }) }}</td>
                {% if currentRoute == 'profile_orders' %}
                    <td>{{ ('order_table.body.status.'~order.status) | trans }}</td>
                {% elseif currentRoute == 'profile_after_sale_service' %}
                    <td>
                        {# open contact vendor modal #}
                        <a data-toggle="modal" href="#discussion-modal-{{ order.id }}">{{ 'contact_vendor'|trans }}</a>

                        {# actual discussion modal #}
                        {% include '@App/common/_discussion-modal.html.twig' with { 'orderItems': order.orderItems, 'order_id': order.id } %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
