{% extends '@App/layout-profile.html.twig' %}

{% block profile_content %}

    <label>{{ 'order_detail.order_info'|trans }} #{{ order.id }}</label>
    <div class="spacer"></div>

    {# order details #}
    <div class="table-responsive">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th class="hidden-xs">{{ 'order_detail.header.order_number'|trans }}</th>
                    <th class="hidden-xs">{{ 'order_detail.header.date'|trans }}</th>
                    <th>{{ 'order_detail.header.total_without_tax'|trans }}</th>
                    <th>{{ 'order_detail.header.status'|trans }}</th>
                    <th>{{ 'order_detail.header.comment'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hidden-xs">{{ order.id }}</td>
                    <td class="hidden-xs">{{ order.timestamp|date("d/m/Y") }}</td>
                    <td class="price">{{ order.total|price }}</td>
                    <td>
                        {% if  order.status == "STANDBY_BILLING" %}{{ 'order_table.body.status.STANDBY_BILLING'|trans }}
                        {% elseif order.status =="STANDBY_VENDOR" %}{{ 'order_table.body.status.STANDBY_VENDOR'|trans }}
                        {% elseif order.status =="PROCESSING_SHIPPING" %}{{ 'order_table.body.status.PROCESSING_SHIPPING'|trans }}
                        {% elseif order.status =="PROCESSED" %}{{ 'order_table.body.status.PROCESSED'|trans }}
                        {% elseif order.status =="COMPLETED" %}{{ 'order_table.body.status.COMPLETED'|trans }}
                        {% elseif order.status =="BILLING_FAILED" %}{{ 'order_table.body.status.BILLING_FAILED'|trans }}
                        {% elseif order.status =="VENDOR_DECLINED" %}{{ 'order_table.body.status.VENDOR_DECLINED'|trans }}
                        {% elseif order.status =="STANDBY_SUPPLYING" %}{{ 'order_table.body.status.STANDBY_SUPPLYING'|trans }}
                        {% elseif order.status =="UNPAID" %}{{ 'order_table.body.status.UNPAID'|trans }}
                        {% elseif order.status =="REFUNDED" %}{{ 'order_table.body.status.REFUNDED'|trans }}
                        {% elseif order.status =="CANCELED" %}{{ 'order_table.body.status.CANCELED'|trans }}
                        {% elseif order.status =="INCOMPLETED" %}{{ 'order_table.body.status.INCOMPLETED'|trans }}
                        {% elseif order.status =="PARENT_ORDER" %}{{ 'order_table.body.status.PARENT_ORDER'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ order.customerComment }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {# product details #}
    <div class="product-list">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'order_detail.header.product_name'|trans }}</th>
                        <th>{{ 'order_detail.header.quantity'|trans }}</th>
                        <th>{{ 'order_detail.header.unit_price_without_tax'|trans }}</th>
                        <th>{{ 'order_detail.header.comment'|trans }}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for orderItem in order.orderItems %}
                        <tr>
                            <td>{{ orderItem.productName }}</td>
                            <td>{{ orderItem.amount }}</td>
                            <td>{{ orderItem.price|price }}&nbsp;TTC</td>
                            <td>{{ orderItem.customerComment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# addresses #}
    <div class="addresses">

        {# shipping address #}
        {% set address = order.shippingAddress %}
        <div>
            <h3 class="title">{{ 'shipping_address'|trans }}</h3>
            <ul class="list-unstyled">
                <li>{{ address.firstname }} {{ address.lastname }}</li>
                <li>{{ address.address }}</li>
                <li>{{ address.address2 }}</li>
                <li>{{ address.zipcode }} {{ address.city }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

