{% extends '@App/layout-profile.html.twig' %}

{% block profile_content %}

    {# update user's profile #}
    <form action="{{ path('update_user') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('profile_update_token') }}">

        {# civility #}
        <div class="form-group">
            <p class="required">{{ 'civility'|trans }}</p>

            <label class="radio">
                <input type="radio" name="user[title]" value="mr" {% if profile.title == 'mr' %} checked {% endif %} required>
                <span class="input-label">{{ 'mr'|trans }}</span>
            </label>

            <label class="radio">
                <input type="radio" name="user[title]" value="mrs" {% if profile.title == 'mrs' %} checked {% endif %}>
                <span class="input-label">{{ 'mrs'|trans }}</span>
            </label>
        </div>

        {# firstname #}
        <div class="form-group">
            <label for="firstname">{{ 'firstname'|trans }}</label>
            <input id="firstname" type="text" class="form-control" name="user[firstName]" value="{{ profile.firstname }}">
        </div>

        {# lastname #}
        <div class="form-group">
            <label for="lastname">{{ 'lastname'|trans }}</label>
            <input id="lastname" type="text" class="form-control" name="user[lastName]" value="{{ profile.lastname }}">
        </div>

        {# birthday #}
        <div class="form-group">
            <label for="birthday">{{ 'birthday'|trans }}</label>
            <div class="input-group">
                <input id="birthday" type="text" class="form-control" name="user[birthday]" value="{{ profile.birthday|date('d/m/Y') }}" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}">
                <div class="input-group-btn"><button type="button" class="btn" id="datepicker-button"><i class="fa fa-calendar"></i></button></div>
            </div>
        </div>

        {# email #}
        <div class="form-group">
            <label for="email">{{ 'email'|trans }}</label>
            <input id="email" type="email" class="form-control" name="user[email]" value="{{ profile.email }}">
        </div>

        {# password #}
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" id="password-update-trigger">
                <span class="input-label">{{ 'update_my_password'|trans }}</span>
            </label>

            {# password update (starts off hidden on page load) #}
            <div id="password-update-block" style="display: none">
                <div class="form-group">
                    <label for="current-password">{{ 'current_password'|trans }}</label>
                    <input id="current-password" type="password" class="form-control" name="user[password][old]" autocomplete="off" disabled required>
                </div>

                <div class="form-group">
                    <label for="new-password">{{ 'new_password'|trans }}</label>
                    <input id="new-password" type="password" class="form-control" name="user[password][new]" autocomplete="off" disabled required>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{ 'save_changes'|trans }}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            {# password update behaviours #}
            $("#password-update-trigger").on("change", function() {

                var $passwordUpdateBlock = $('#password-update-block');

                {# toggle password update block #}
                $passwordUpdateBlock.find('input').prop('disabled', function(i, bool) { return !bool; });
                $passwordUpdateBlock.toggle('slow');

                {# cleanup: clear inputs when fields are hidden #}
                $passwordUpdateBlock.find('input').val('');
            });

            {# birthday date picker #}
            var datePickerOptions = {
                dateFormat: 'dd/mm/yy',
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                monthNamesShort: [ "Jan", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Dec" ],
                yearRange: '-100:+0',
                firstDay: 1,
                changeMonth: true,
                changeYear: true,
            };

            $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );

            $('#birthday').datepicker(datePickerOptions);

            $('#datepicker-button').on('click', function() {
                $('#birthday').datepicker("show");
            });
        });
    </script>
{% endblock %}
