<div class="product">

    {% if product.crossedOutPrice %}
        <div class="top-badge badge-promo">PROMO</div>
    {% endif %}

    <a href="{{ path('product', {'slug': product.slug, 'categoryPath':product.categorySlugs|join('/')}) }}" title="Voir le produit" class="product-detail">
        {% if product.mainImage is not null %}
            <div class="product-image" style="background-image: url('{{product.mainImage.id|imageUrl(351, 351)}}')"></div>
        {% else %}
            <div class="product-image" style="background-image: url('{{ asset('images/no-image.jpg') }}?w=350&h=350')"></div>
        {% endif %}

        <div class="product-caption">
            <div class="title">{{ product.name }}</div>
            <div class="ellipsis">{{ product.subtitle }}</div>
        </div>
    </a>

    <div class="product-price">
        <div class="pull-left">
            {% if product.crossedOutPrice %}
                <span class="title">{{ product.minimumPrice|price }}&nbsp;TTC </span><br />
                <span class="title text-blue text-line-through">{{ product.crossedOutPrice|price }}&nbsp;TTC</span>
            {% else %}
                <span class="title">{{ product.minimumPrice|price }}&nbsp;TTC</span><br />
            {% endif %}
        </div>

        {% if product.declinationCount <= 1 %}
            <button class="add-to-basket btn btn-link pull-right" data-id="{{ product.id }}"
                    data-name="{{ product.name|e('html_attr') }}"
                    data-price="{{ product.minimumPrice }}"
                    data-image-id="{{ product.mainImage ? product.mainImage.id : '' }}"
                    title="Ajouter au panier">
                <span class="fa fa-shopping-cart"></span>
            </button>
        {% endif %}
    </div>
</div>
